<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/login.css">

    <title></title>
</head>
<body ng-app="tagalong">


    <div ng-controller="CreateUserCtrl" id="loginWrap">
        <div id="loginInner">
            <img id="logo" src="img/tagalong_logo.png" alt="">

            <form ng-submit="create()">
                <h3>Register users</h3>
                <input type="hidden" name="roles" ng-model="user.roles" ng-value="roles">

                <input ng-model="user.firstname" type="text" placeholder="Name">
                <input ng-model="user.surname" type="text" placeholder="Surname">
                <input ng-model="user.email" type="text" placeholder="Email">
                <input ng-model="user.password" type="password" placeholder="Password">
                <input type="radio" class="radio" ng-model="user.gender" value="male" id="male" />
                <label for="male">Male</label><br>
                <input type="radio" class="radio" ng-model="user.gender" value="female" id="female" />
                <label for="female">Female</label><br>

                <input type="submit" value="Register user">
            </form>

        </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/locale/nb.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>

    <!-- UI select -->
    <script src="bower_components/ui-select/dist/select.js"></script>
    <script src="bower_components/ui-select/dist/select.css"></script>
    <script src="bower_components/showdown/dist/showdown.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/ng-showdown/dist/ng-showdown.min.js"></script>

    <script src="js/card_controllers.js"></script>
    <script src="js/event_controllers.js"></script>
    <script src="js/page_controllers.js"></script>
    <script src="js/post_controllers.js"></script>
    <script src="js/search_controllers.js"></script>
    <script src="js/user_controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>