<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="tagalong" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="tagalong" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="tagalong" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="tagalong" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="img/faneikon_logo.png"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" ng-if="styleSheetId" ng-href="css/dynamic/dynamic_colors_{{ styleSheetId }}.css">
    <!-- Ny css -->
    <link rel="stylesheet" type="text/css" href="css/comments.css">
    <link rel="stylesheet" type="text/css" href="css/edit.css">
    <link rel="stylesheet" type="text/css" href="css/feed.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="css/frontpage.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/profiles.css">
    <link rel="stylesheet" type="text/css" href="css/search.css">

    <!--link rel="stylesheet" type="text/css" href="css/old/forside.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/statisk.css" -->
    <!--link rel="stylesheet" type="text/css" href="css/old/search.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/sidebar.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/footer.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/page_fubar.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/pages.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/other_profiles.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/profil_edit.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/events.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/new_event.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/movie_night_page.css"-->
    <!--link rel="stylesheet" type="text/css" href="css/old/popup.css"-->
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css"><!-- Font Awesome ikoner -->
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ng-img-crop-full-extended/compile/minified/ng-img-crop.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/moment/locale/nb.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/ng-img-crop-full-extended/compile/minified/ng-img-crop.js"></script>

    <!-- UI select -->
    <script src="bower_components/ui-select/dist/select.js"></script>
    <script src="bower_components/ui-select/dist/select.css"></script>
    <script src="bower_components/showdown/dist/showdown.js"></script>
    <script src="bower_components/showdown-youtube/dist/showdown-youtube.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/ng-showdown/dist/ng-showdown.min.js"></script>
    <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
    </script>

    <script src="js/card_controllers.js"></script>
    <script src="js/event_controllers.js"></script>
    <script src="js/page_controllers.js"></script>
    <script src="js/post_controllers.js"></script>
    <script src="js/search_controllers.js"></script>
    <script src="js/user_controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
    <script src="js/custom.js"></script>

    <title>Tag along</title>
</head>
<body>
<a id="skip" ng-click="skipToContent('skipContent')">Skip to content</a>


<div class="page">
    <div id="darkOverlay" ng-click="closePopup()"></div>

    <div class="top-header">
        <div class="container">
            <div class="top-left">
                <a href="#/" ><img class="logo" src="img/logonettsideferdig.png"></a>
            </div>

            <div class="top-right">

                <div class="fast-search" ng-controller="QuickSearchCtrl">
                    <button id="searchBtn" ng-click="openSearch()"><i class="fa fa-search"></i> <span>Search</span></button>

                    <div class="search-overlay-wrap">
                        <div class="container">
                            <div class="close-search" ng-click="closeSearch()">
                                <i class="exit-search fa fa-times"></i>
                                Exit
                            </div>
                            <input id="quickSearch" type="search" placeholder="Søk her..." ng-model="searchText" ng-keyup="runAutoComplete($event)" ng-change="updateSearchResults()" autofocus>
                            <i class="search-search fa fa-search"></i>


                            <div class="search-results">
                                <div class="search-result-wrap" ng-repeat="searchResult in searchResults">
                                    <a ng-href="#/{{ searchResult.url }}" ng-click="closeSearch()">
                                        <div class="search-result">
                                            <div class="result-image-wrap" style="border-right: 3px solid #1eb6ec" ng-style="{'background-image': 'url(' + searchResult.thumbnailUrl + ')'}"></div>
                                            <div class="search-name">{{ searchResult.name }}</div>
                                            <div ng-if="searchResult.studyField" class="search-stud">{{ searchResult.studyField.description }}</div>
                                            <div class="search-add"><i class="exit-search fa fa-plus"></i></div>
                                        </div><!-- END search-result-->
                                    </a>
                                </div><!--END search-result-wrap -->
                            </div> <!-- END search-results -->

                        </div><!--END container -->
                    </div><!-- END search-overlay-wrap -->
                </div><!-- END fast-search -->

                <!-- Person -->
                <div class="logged-in-person">

                    <a href="#/profile" id="linkToProfileDesctop">
                        <div class="person-name">
                            <span>{{ me.firstname }} {{ me.surname }}</span>
                            <i class="fa fa-user"></i>
                        </div>
                    </a>
                    <div class="person-name" id="linkToProfileMobile" ng-click="openPersonDropdown()">
                        <span>{{ me.firstname }} {{ me.surname }}</span>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="menu-person-dropdown">
                        <a ng-click="openNewPost(0)">
                            <div class="person-list">New post</div>
                        </a>
                        <a href="#/profile/edit">
                            <div class="person-list">Edit profile</div>
                        </a>
                        <a ng-click="logout()">
                            <div class="person-list">Log out</div>
                        </a>
                    </div><!-- END menu-person-dropdown -->

                </div><!-- END logged-in-person-->
                <!-- END person -->

                <div id="transparent-overlay" ng-click="closePopup()"></div>
                <!-- Varslser / notifications -->
                <div ng-click="openNotifications()" class="notification" tabindex="0">
                    <div>
                        <span class="notification-title">Notification</span>
                        <i class="fa fa-bell"></i>
                        <i class="fa fa-bell-o"></i>
                    </div>
                    <div class="arrow-up"></div><!--END arrow-up-->
                    <div id="myDropdown" class="dropdown-content">


                        <div class="header-notification-tab">
                            <h3>Notifications</h3>
                        </div>

                        <a ng-href="#OleChristian">
                            <img class="notification-img" src="img/profilbilde_jap.jpg">
                            <p class="notification-name">{{me.firstname}} {{me.surname}}</p>
                            <p class="notification-time">33 min</p>
                            <p class="notification-text">Ate shit and puked on you!</p>
                        </a>


                        <a ng-href="#OleChristian">
                            <img class="notification-img" src="img/profilbilde_2.jpg">
                            <p class="notification-name">{{me.firstname}} {{me.surname}}</p>
                            <p class="notification-time">2 hours</p>
                            <p class="notification-text">Has tagged along to your post</p>
                        </a>

                    </div><!--END -->
                </div><!--end notification-->
                <!-- END notifications -->

            </div><!--END top-right-->
        </div><!--END container -->

    </div><!--END top-header-->

    <div id="colors">
        <div id="one"></div>
        <div id="two"></div>
        <div id="three"></div>
        <div id="four"></div>
        <div id="five"></div>
    </div>
    <div class="menu-wrap">
        <div class="container" id="inner-menu">


            <div class="burger-wrap" ng-click="toggleMobileMenu()"><!-- Hamburgermenyen -->
                <div class="bar bar1"></div>
                <div class="bar bar3"></div>
                <div class="bar bar2"></div>
            </div><!-- END hamburgermeny -->

            <div class="menu">
                <ul ng-click="closeMobileMenu()">
                    <li><a href="#/" class="_active">Home</a></li>
                    <li><a href="#/feed">Feed</a></li>
                    <li><a href="#/events">Events</a></li>
                    <li><a href="#/pages">Pages</a></li>
                </ul>
            </div><!-- END menu inner-->
        </div><!-- END container -->
    </div><!-- END menu-wrap -->

    <div class="container">
        <div class="breadcrumbs">
            <a href="#/">Home</a>
            <!--<div ng-if="breadcrumb" style="display: inline;">
                - <a ng-if="breadcrumb.url" ng-href="{{breadcrumb.url}}">{{ breadcrumb.name }}</a>
                <div ng-if="!breadcrumb.url" style="display: inline;">{{ breadcrumb.name }}</div>
            </div> -->
        </div>
    </div>

    <div class="add-new-btn-wrap">
        <div id="addNew" class="add-new-btn" ng-click="openShortcuts()"><i class="fa fa-pencil"></i></div>
        <div id="newPostBtn" class="add-new-btn" ng-click="openNewPost(); scrollToPopup()"><i class="fa fa-sticky-note-o"></i></div>
        <div id="newPageBtn" class="add-new-btn"><i class="fa fa-file-text-o"></i></div>
        <div id="newEventBtn" ng-click="goToUrl('#/events/new'); scrollToPopup()" class="add-new-btn"><i class="fa fa-calendar-plus-o"></i></div>
        <div id="newSearchBtn" class="add-new-btn" ng-click="openSearch(); scrollToPopup() "><i class="fa fa-search"></i></div>
    </div>

    <div class="new-post-wrap edit-fields popup" ng-controller="AddCardCtrl">
        <div class="exit-btn" ng-click="closePopup()"><i class="fa fa-times"></i></div>
        <div class="edit-card">
            <form ng-submit="createPost(); closePopup()">

                <div class="popup-top">
                    <strong>Create post</strong>
                    <br><br>
                    <textarea ng-model="newpost.content" required class="edit-field3" rows="2" placeholder="Whats on your mind?"></textarea>
                    <input type="file" name="" accept="image/*">

                    <ui-select multiple ng-model="newpost.tagIds" required>
                        <ui-select-match placeholder="Select tags...">
                            {{$item.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="tag in (allTags | filter: $select.search) track by tag.id">
                            <span ng-bind="tag.name"></span>
                        </ui-select-choices>
                    </ui-select>

                </div><!-- END popup top -->

                <div class="popup-bottom">
                    <input type="submit" class="btn-fill" value="Publish post">
                </div><!-- END popup bottom -->

            </form>
        </div><!-- END edit-card -->
    </div>

    <div class="add-to-card-wrap box popup">
        <div class="exit-btn" ng-click="closePopup()"><i class="fa fa-times"></i></div>
        <div class="box-title"><h3>@Fubar</h3></div>
        <input type="search" id="atcSearch" placeholder="Search for a card...">
        <div class="col-sidebar-cards">
            <h5>Social</h5>
            <div class="add-btn">Add</div>
        </div>
        <div class="col-sidebar-cards">
            <h5>Yolo</h5>
            <div class="add-btn">Add</div>
        </div>
    </div>



    <div id="skip"></div>
    <div ng-view></div>



</div>

<footer>
    <div class="container">
        <div class="row">

            <div class="footer-menu">
                <div class="col-xs-12 logo-item">
                    <a href="">
                        <img src="img/logonettsideferdig.png" alt="">
                    </a>
                </div>
            </div><!-- END footer-menu -->

            <div class="shortcut-menu">

                <div class="col-md-3 col-xs-6">
                    <a href="">
                        <section>
                            <img src="img/hvit_westerdals.png" alt=""><br>
                            <span>Westerdals</span><br>
                            <span>westerdals.no</span>
                        </section>
                    </a>

                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="">
                        <section>
                            <i class="fa fa-map-marker"></i><br>
                            <span>Find campuses</span><br>
                            <span>westerdals.no/kontakt</span>
                        </section>
                    </a>
                </div>

                <div class="col-md-3 col-xs-6">
                    <a href="">
                        <section>
                            <i class="fa fa-envelope"></i><br>
                            <span>Support</span><br>
                            <span>support@tagalong.no</span>
                        </section>
                    </a>
                </div>

                <div class="col-md-3 col-xs-6">
                    <a href="">
                        <section>
                            <i class="fa fa-bug"></i><br>
                            <span>Report a bug</span><br>
                            <span>bug@tagalong.no</span>
                        </section>
                    </a>
                </div>

            </div><!-- END shortcut-menu -->

            <div class="text-center" id="copy">&copy All rights reserved Tag Along</div><br>
            <div ng-click="changeStylesheet('red')">Be red</div>
            <div ng-click="changeStylesheet('blue')">Be blue</div>
            <div ng-click="changeStylesheet('purple')">Be purple</div>
            <div ng-click="changeStylesheet('yellow')">Be yellow</div>
            <div ng-click="changeStylesheet('green')">Be green</div>
        </div>
    </div><!-- END container -->

</footer>

</body>
</html>
