<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/login.css">

    <title></title>
</head>
<body ng-app="tagalongLogin">

<div ng-controller="LoginCtrl">
    <div id="loginWrap">
        <div id="loginInner">
            <img id="logo" src="img/logonettsideferdig.png" alt="">
            <div class="login-form">
                <div class="form-info">Login to your account</div>
                <form role="form" ng-submit="login()">
                    <input ng-model="credentials.username" id="username" type="text" placeholder="Username">
                    <input ng-model="credentials.password" id="password" type="password" placeholder="Password">
                    <div class="comment-button-wrap">
                        <input type="submit" class="add-comment-btn" value="Login">
                        <div class="comment-overlay"></div>
                    </div>
                </form>
            </div><!-- END login-form -->

        </div>
    </div>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>

<script src="js/services.js"></script>
<script src="js/login.js"></script>
</body>
</html>