.comment-header{
    height: 45px;
}
.comment-content img {
    width: auto;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-content video {
    width: auto;
    max-width: 300px;
}

.comment .person-image {
    height: 40px;
    width: 40px;
}
.comment .person-name{
    font-size: 1.2em;
}
.comment .feed-date{
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
}
.comment .comment-content {
    padding-bottom: 15px;
}
/* TODO: Please make this look better */
.comment {
    border-bottom: 1px solid #DADADA;
    position: relative;
}
.comment .delete-btn{
    padding-top: 3px;
    padding-bottom: 4px;
    float: right;
    position: relative;
    right: 0;
    margin-bottom: 10px;
    bottom: 0;
    cursor: pointer;
}
.delete-comment{
    width: auto;
    position: relative;
    overflow: auto;
    display: inline-block;
    top: -10px;
    float: right;
}
.comment .delete-btn{
    background-color: transparent !important;
    padding: 0;
    font-size: 12px;
    color: #333 !important;
}
.comment .delete-btn:hover{
    color: #be3e28 !important; /* red rød*/
}