/*
Spesifikt for en feed
Eks: Tag-feed, all pages, all events, person-feed
*/

/* Sidebars */
.order-by-box, .filter-by-box{
    margin-bottom: 20px;
}
.order-pages-by, .filter-pages-by{
    padding-top: 5px;
}
.filter-pages{
    margin-bottom: 15px !important;
}
.checkbox-style{
    margin: 0px;
    position: relative;
}
.checkbox-style label{
    padding-left: 5px;
    font-weight: normal;
}
/* Card sidebar */
.card-sidebar-wrap{
    background-color: #FFF;
    height: 55px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}
.sidebar-card-info{
    overflow: hidden;
}
.card-sidebar-image{
    height: 55px;
    width: 55px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    background-size: cover;
    background-position: center center;
}
.card-sidebar-inner h3{
    display: inline-block;
    margin: 0;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5px;
}
.card-sidebar-inner .card-tag-wrap{
    float: left;
    margin-left: -5px;
    clear: both;
}
.sidebar-mobile{
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px;
    background-color: #FFF;
    margin-bottom: 30px;
    cursor: pointer;
}
.sidebar-all-card{
    display: block;
}
.sidebar-all-card .owner-menu{
    margin-bottom: 15px;
}
@media screen and (max-width: 767px){
    .sidebar-mobile{
        display: block;
    }
    .sidebar-all-card{
        display: none;
    }
}
/* END - card sidebar */
/* END - sidebars */

/* Feed */
.feed-tags{
    background-color: #FFF;
    padding: 15px;
    margin-bottom: 15px;
}
.post-tags{ /* Post tag wrap */
    overflow: hidden;
    width: 100%;
}
.person-feed-boks{ /* wrap */
    width: 100%;
    height: auto;
}
.person-feed-boks .feed-header{ /* Om personen, dato osv */
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.person-image{
    width: 60px;
    height: 60px;
    border-radius: 6px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.feed-header .person-image img{
    width: 100%;
}
.feed-header .person-name{ /* H2 Navnet */
    float: left;
    margin: 0;
    width: calc(100% - 95px);
    font-size: 1.3em;
}
.feed-header .person-studie, .comment .person-studie{ /* H4 studieretning */
    float: left;
    margin: 0;
    font-size: 12px;
    margin-top: 7px;
    width: calc(100% - 95px);
}
.comment .person-studie{
    position: relative;
    top: -5px;
    margin-top: 0px;
}
.feed-header .feed-date{
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 12px;
    opacity: 0.8;
}
.feed-header .feed-star{
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}
.feed-header .feed-star:hover{
    font-size: 18px;
    top: -2px;
}
.person-feed-boks .feed-content{ /* Innhold */
    clear: both;
}
.person-feed-boks .card-tag-wrap{
    width: 100%;
}
.person-feed-boks .card-tag-wrap ul{

}
.person-feed-boks .card-tag-wrap ul > li:first-of-type{

}
.feed-content img{
    margin-top: 10px;
    margin-bottom: 10px;
}
.embedded-video{
    max-width: 100%;
    width: auto;
}
.bottom-bar{
    width: 100%;
    border-top: 1px solid #F2F2EE;
    margin-top: 10px;
    padding: 5px 0 5px 0;
    overflow: hidden;
}
.bottom-bar .feed-feedback span{
    /* Se SASS */
}
.feed-comment-wrap{
    width: 100%;
    margin-top: 15px;
}
.feed-comment-wrap input{
    padding: 11px;
    border-radius: 3px;
}
.feed-comment-wrap input.comment-input{
    width: calc( 100% - 100px);
    border: 1px solid #848484;
}
.feed-comment-wrap input.comment-input:focus{
    outline: none;
}
.feed-comment-wrap input.add-comment-btn{
    width: 97px;
    padding: 13px 10px;
}
.tagalong-like-btn{
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 3px 8px 4px 5px;
    float: left;
}
.tagalong-like-btn img{
    width: 20px;
    margin-right: 10px;
}
.tagalong-like-btn:hover{
    color: #1eb6ec;
}
.tagalong-like-btn.tagged-along{
    background-color: #333;
    color: #FFF;
    border-radius: 3px;
}
.feed-feedback{
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}
/*
.card-selected:after{
    content: '';
    position: absolute;
    top: 3px;
    right: -10px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: px solid transparent;
}
*/

@media screen and (max-width: 400px){
    .feed-header .feed-date{
        top: 45px;
    }
}
/* end feed*/

/*Displying pages style*/
.preview{ /* Wrap rundt et event, upcoming og my event */
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #FFF;
    position: relative;
    border: 5px solid #FFF;
}
.preview-image{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 300;
    background-color: rgba(0,0,0, 0.1);
}
.preview-info{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    overflow: hidden;
}
.preview-info .card-tag-list{
    padding: 10px;
    margin-bottom: 0;
}
.preview-info .card-tag-list li{
    background-color: rgba(0,0,0, 0.3);
    border-radius: 3px;
    color: #FFF;
}
.preview-info .card-tag-list li:hover, .preview-info .card-tag-list li:focus{
    background-color: rgba(0,0,0, 0.6);
}
.preview-header{
    background-color: #FFF;
    overflow: hidden;
    position: relative;
}
.preview-title{
    color: #333;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 15px 10px;
}
/*Displying pages style END*/

/* Add to card knapp*/
.add-page-to-card-pages{
    position: absolute;
    right: 20px;
}
.add-to-card-wrap .sidebar-card{
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
.add-to-card-wrap .sidebar-card:hover{
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
/* Add to card knapp END*/


@media screen and (max-width: 500px){
    .pages-result-profilbilde{
      width: 50px;
    }
}

/* Events */
.events-feed-wrap h3{
    color: #000;
    text-transform: uppercase;
}
.an-event-wrap{ /* Wrap rundt et event, upcoming og my event */
    overflow: hidden;
    margin: 20px 0;
    background-color: #FFF;
    position: relative;
    border-radius: 10px;
}

.attend-btn{
    display: inline;
    /*background-color: #333;*/
    padding: 1px 5px;
    border-radius: 2px;
    color: #FFF;
    margin-right: 5px;
    cursor: pointer;
}
.attend-btn:hover{
    background-color: #43be28;
}
.attend-btn i{
    margin-right: 5px;
}
.events-about{ /* Info om eventet */
    padding: 15px;
}
.an-event-wrap .card-tag-wrap{
    margin-top: 15px;
}
.an-event-wrap .event-info{
    width: 80px;
    height: 80px;
    position: absolute;
    right: -35px;
    bottom: -35px;
    border-radius: 50%;
    cursor: pointer;
}
.an-event-wrap .event-info .fa{
    position: absolute;
    left: 22px;
    top: 18px;
    font-size: 1.3em;
}
.preview a:hover{
    text-decoration: none;
}
.events-preview-title {
    color: #333;
    text-align: left;
    margin: 0;
    padding: 5px 10px;
    font-size: 1.3em;
}
.events-preview-location{
    color:#333;
    text-align: left;
    margin: 0;
    padding: 2px 10px;
    font-size: 0.9em;
}
.events-preview-attending{
    color:#333;
    text-align: left;
    margin: 0;
    padding: 2px 10px;
    font-size: 0.9em;
    margin-top: 5px;
}
.events-preview-date{
    color:#333;
    margin: auto;
    padding: 2px 10px;
    font-size: 2em;
    text-align: center;
}
.events-preview-month{
    color:#333;
    margin: auto;
    padding: 2px 10px;
    font-size: 1em;
    text-align: center;
}
.events-preview-info-wrap{
    float: left;
    margin: 5px 0 5px 0;

}
.events-preview-date-wrap{
    position: absolute;
    right: 10px;
    overflow: hidden;
    display: inline-block;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
}
/* END - events */

/* Cards */
.card-extra{ /* Wrap rundt antall nye poster og settings på et card */
    width: 25px;
    height: 100%;
    float: right;
    background-color: transparent !important;
}
.number-of-new-posts, .card-settings{
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 3px;
    position: relative;
}
.number-of-new-posts{
    border-bottom: 2px solid #FFF;
}
.card-settings{
    cursor: pointer;
    color: #333;
}
.card-settings:hover{
    font-size: 1.2em;
    color: #333;
}
.delete-card{
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.delete-card span{
    background-color: #eee;
    padding: 2px 5px;
    margin-left: 5px;
    border-radius: 2px;
}
.delete-card span:first-of-type:hover{
    background-color: #333;
    color: #FFF;
}
.delete-card span:last-of-type:hover{
    background-color: #333;
    color: #FFF;
}
/* END cards */