/*
Spesifikt for forsiden
*/
/* Cards */
.card-wrap{ /* Wrap rundt et card */
    width: 100%;
    padding: 15px 15px 10px 15px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
}
.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.5);
}
.card-wrap-inner{
    min-height: 150px;
    position: relative;
}
.new-post-in-card-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    color: #FFF;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.edit-card-icon{
    position: absolute;
    top: 30px;
    right: 5px;
    font-size: 22px;
}
.card-wrap h3{ /* Tittel på card */
    margin-top: 0;
    margin-left: 0;
    font-weight: bold;
}
.card-wrap .card-tag-wrap{
    position: absolute;
    bottom: -10px;
    width: 100%;
    box-sizing: border-box;
}
.card-tag-wrap ul.card-tag-list{ /* Liste med tags */
    margin: 0;
    padding: 0;
}
ul.card-tag-list > a > li{ /* Hver tag */
    display: inline-block;
    background-color: transparent; /* Lysegrå */
    color: #333; /* Grå */
    padding: 0px 5px 3px 5px;
    margin: 5px 3px 0px 0;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    transition: all 200ms linear;
}
ul.card-tag-list > a > li:hover{
    opacity: 1;
    background-color: #DBDBDB; /* Lysegrå */
    transition: all 200ms linear;
}

.card-extra{ /* Wrap rundt antall nye poster og settings på et card */
    width: 25px;
    height: 100%;
    float: right;
}
.number-of-new-posts, .card-settings{
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 3px;
    position: relative;
}
.number-of-new-posts{
    border-bottom: 2px solid #FFF;
}
.card-settings{
    cursor: pointer;
}
/* END - Cards */

/* New Card */
.card-wrap-add{
    width: 100%;
    height: 180px;
    background-color: transparent;
    padding: 15px 15px 10px 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
    border: 2px dashed #333;
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: 0.4;
    transition: opacity 300ms linear;
    cursor: pointer;
}
.card-add-inner{
    align-self: center;
}
.card-add-inner .fa-plus{
    font-size: 3em;
}
.card-wrap-add:hover{
    opacity: 1;
    transition: opacity 300ms linear;
}
/* END - New Card */