.fa-bullhorn{
   padding-right: 10px;
}

.event-time-icon, .event-time, .event-date, .event-date-icon, .event-place, .event-place-icon{
    padding: 5px;
}

.event-time-icon, .event-date-icon, .event-place-icon{
    padding-right: 10px;
}

.event-time-area, .event-date-area, .event-place-area{
    width: 100%;
    padding: 10px;
}

.event-text{
    padding-top: 20px;
}

.attending-box{
    overflow: hidden;
}

.about-element {
    display: block;
}

.attending-thumbs-wrap{
    margin-top: 15px;   
}