/*
Spesifikt for search / søk
*/

/* Search overlay */
.search-results{
    position: relative;
    top: 100px;
}
.add-to-card-wrap .add-btn{
    position: absolute;
    right: 20px;
    top: 8px;
    background-color: #61afca;
    padding: 0 10px 2px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 3px #317b94;
}
.add-to-card-wrap .col-sidebar-cards:hover .add-btn{
    display: block;
}

/* Search result */
.search-result{
    width: 100%;
    clear: both;
    overflow: auto;
    margin-bottom: 30px;
}
.search-result .search-result-profilbilde{ /* klasse i IMG taggen */
    width: 90px;
    float: left;
    display: block;
    padding-right: 20px;
}
.search-result-title{
  display: inline-block;
  clear: both;
  font-weight: bold;
}
.search-result-wrap p{
    overflow: hidden;
}
.search-result-wrap{
    display: block;
    width: auto;
    box-sizing: border-box;
}
@media screen and (max-width: 500px){
    .search-result-profilbilde{ /* klasse i IMG taggen */
      width: 50px;
    }
}
.search-overlay-wrap{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #F2F2EE;
  z-index: 999;
  display: none;
}
.search-overlay-wrap .search-search{
  position: absolute;
  right: 35px;
  font-size: 2em;
  top: 120px;
  cursor: pointer;
}
.close-search{
  float: right;
  position: relative;
  top: 20px;
  right: 55px;
  font-size: 1.2em;
  cursor: pointer;
}
.close-search .exit-search{
  position: absolute;
  right: -35px;
  font-size: 2em;
  top: -3px;
  cursor: pointer;
}
.search-overlay-wrap input{
  width: 100%;
  background-color: #FFF;
  border: none;
  font-size: 3em;
  position: relative;
  top: 70px;
  padding: 10px 20px;
}
.search-result-wrap{
  padding: 10px;
  background-color: #FFF;
  margin-bottom: 10px;
  position: relative;
}
.result-image-wrap{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background-size: cover;
}
.search-name{
  font-weight: bold;
}
.search-add{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  height: 100%;
  color: #333;
}
.search-add .fa{
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}
.search-name, .search-stud{
  position: relative;
  margin-left: 70px;
}
.search-result-wrap .search-result{
  margin-bottom: 0;
  overflow: hidden;
}
.search-overlay-wrap input:focus{
  outline: none;
}
/* END - Search result */
