<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="tagalong" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="tagalong" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="tagalong" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="tagalong" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="../statisk/images/faneikon_logo.png"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/dynamic_colors.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/statisk.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/forside.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/search.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/page_fubar.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/pages.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/other_profiles.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/profil_edit.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/events.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/new_event.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/movie_night_page.css">
    <link rel="stylesheet" type="text/css" href="../statisk/css/popup.css">
    <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css"><!-- Font Awesome ikoner -->
    <link rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/moment/locale/nb.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="../js/custom.js"></script>
    <script src="https://use.typekit.net/dtg0waj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <title>Tag along</title>
</head>
<body ng-controller="UserInfoCtrl">
<div class="page">
<div id="darkOverlay" ng-click="closePopup()"></div>

    <div class="top-header">
        <div class="container">
            <div class="top-left">
                <a href="#/"><img class="logo" src="../statisk/images/logonettsideferdig.png"></a>
            </div>

            <div class="top-right">

                <div class="logged-in-person">
                    <a href="#/profile">
                        <div class="person-name">
                            {{ me.firstname }} {{ me.surname }}
                            <i class="fa fa-user"></i>
                        </div>
                    </a>
                    <div class="menu-person-dropdown">
                        <a ng-click="logout()">Log out</a>
                    </div>

                </div><!-- END logged-in-person-->

                <div class="varsel">
                    <i class="fa fa-bell"></i>
                    <i class="fa fa-bell-o"></i>

                    <div class="varsel-panel">

                        <div class="header-varsel-panel">

                            <div class="bell-varsel">
                                <i class="fa fa-bell"></i>
                            </div><!--end bell-varsel-->

                            <h3 class="box-title">Notifications</h3>

                        </div><!--end header-varsel-panel-->

                        <div class="varsel-innhold">

                            <img class="profilbilde-varsel" src="../statisk/images/fubar_logo.jpg">
                            <div class="notification-feed-box">
                                <p class="overskrift-varsel">fuBar</p>
                                <p class="tekst-varsel">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                </p>
                            </div>
                        </div><!--end varsel-innhold-->

                    </div><!--end varsel-panel-->

                </div><!--end varlse-panel-->

                <div class="fast-search" ng-controller="QuickSearchCtrl">
                    <button id="searchBtn" ng-click="openSearch()"><i class="fa fa-search"></i> Search</button>

                    <div class="search-overlay-wrap">
                        <div class="container">
                            <div class="close-search" ng-click="closeSearch()">
                                <i class="exit-search fa fa-times"></i>
                                Exit
                            </div>
                            <input id="quickSearch" type="search" placeholder="Søk her..." ng-model="searchText" ng-keyup="runAutoComplete($event)" ng-change="updateSearchResults()" autofocus>
                            <i class="search-search fa fa-search"></i>
                            <div class="fast-search-result"></div>


                            <div class="search-results">
                                <div class="search-result-wrap" ng-repeat="searchResult in searchResults">
                                    <a ng-href="#/{{ searchResult.url }}" ng-click="closeSearch()" ng-if="searchResult.url">
                                        <div class="search-result">
                                            <div class="result-image-wrap" style="background-image: url(/statisk/images/ola_nordmann.jpeg); border-right: 3px solid #1eb6ec"></div>
                                            <div class="search-name">{{ searchResult.name }}</div>
                                            <div class="search-stud">Interaktivt design</div>
                                            <div class="search-add"><i class="exit-search fa fa-plus"></i></div>
                                        </div>
                                    </a>
                                </div>
                            </div> <!-- END search-results -->

                        </div>
                    </div><!-- END search-overlay-wrap -->
                </div><!-- END fast-search -->

            </div>
        </div>

    </div>
    <div id="colors">
        <div id="one"></div>
        <div id="two"></div>
        <div id="three"></div>
        <div id="four"></div>
        <div id="five"></div>
    </div>
    <div class="menu-wrap">
        <div class="container" id="inner-menu">

            <div class="burger-wrap"><!-- Hamburgermenyen -->
                <div class="bar bar1"></div>
                <div class="bar bar3"></div>
                <div class="bar bar2"></div>
            </div><!-- END hamburgermeny -->

            <div class="menu">
                <ul>
                    <li><a href="#/" class="active">Home</a></li>
                    <li><a href="#/person_feed">Feed</a></li>
                    <li><a href="#/events">Events</a></li>
                    <li><a href="#/pages">Pages</a></li>
                </ul>
            </div><!-- END menu inner-->
        </div><!-- END container -->
    </div><!-- END menu-wrap -->

    <div class="container">
        <div class="breadcrumbs">
            <a href="#/">Home</a>
            <?php if(basename($_SERVER['SCRIPT_NAME']) == 'index.php'): ?>

            <?php elseif(basename($_SERVER['SCRIPT_NAME']) == 'sidebar.php'): ?>
            - Feed
            <?php elseif(basename($_SERVER['SCRIPT_NAME']) == 'other_profiles.php'): ?>
            - Profil
            <?php elseif(basename($_SERVER['SCRIPT_NAME']) == 'profil_edit.php'): ?>
            - <a href="other_profiles.php">Profil</a> - Edit profile
            <?php elseif(basename($_SERVER['SCRIPT_NAME']) == 'page_fubar.php'): ?>
            - Fubar
            <?php elseif(basename($_SERVER['SCRIPT_NAME']) == 'sidebar.php'): ?>
            - Feed
            <?php elseif(basename($_SERVER['SCRIPT_NAME']) == 'search.php'): ?>
            - Search
            <?php elseif(basename($_SERVER['SCRIPT_NAME']) == 'new_event.php'): ?>
            - New Event
            <?php elseif(basename($_SERVER['SCRIPT_NAME']) == 'events.php'): ?>
            - Events
            <?php elseif(basename($_SERVER['SCRIPT_NAME']) == 'pages.php'): ?>
            - Pages
            <?php endif; ?>
        </div>
    </div>

    <div class="add-new-btn-wrap">
        <div id="addNew" class="add-new-btn" ng-click="openShortcuts()"><i class="fa fa-pencil"></i></div>
        <div id="newPostBtn" class="add-new-btn" ng-click="openNewPost()"><i class="fa fa-sticky-note-o"></i></div>
        <div id="newPageBtn" class="add-new-btn"><i class="fa fa-file-text-o"></i></div>
        <div id="newEventBtn" class="add-new-btn"><i class="fa fa-calendar-plus-o"></i></div>
        <div id="newSearchBtn" class="add-new-btn" ng-click="openSearch() "><i class="fa fa-search"></i></div>
    </div>

    <div class="new-post-wrap edit-fields popup" ng-controller="AddCardCtrl">
        <div class="edit-card">
            <form ng-submit="createCard()">

                <strong>Create post</strong>
                <br><br>
                <textarea ng-model="" class="edit-field3" rows="2" placeholder="Whats on your mind?"></textarea>
                <input type="file" name="" accept="image/*">
                <input class="edit-field2" placeholder="Legg til tags" type="search">

                <input type="submit" class="btn-fill" value="Publish post">
            </form>
        </div><!-- END edit-card -->
    </div>

    <div ng-view></div>

</div>

<footer>
    <div class="container">
        <div class="row">

            <div class="footer-menu">
                <div class="col-xs-12 logo-item">
                    <a href="">
                        <img src="../statisk/images/logonettsideferdig.png" alt="">
                    </a>
                </div>
            </div><!-- END footer-menu -->

            <div class="shortcut-menu">

                <div class="col-md-3 col-xs-6">
                    <a href="">
                        <section>
                            <img src="../statisk/images/hvit_westerdals.png" alt=""><br>
                            <span>Westerdals</span><br>
                            <span>westerdals.no</span>
                        </section>
                    </a>

                </div>
                <div class="col-md-3 col-xs-6">
                    <a href="">
                        <section>
                            <i class="fa fa-map-marker"></i><br>
                            <span>Find campuses</span><br>
                            <span>westerdals.no/kontakt</span>
                        </section>
                    </a>
                </div>

                <div class="col-md-3 col-xs-6">
                    <a href="">
                        <section>
                            <i class="fa fa-envelope"></i><br>
                            <span>Support</span><br>
                            <span>support@tagalong.no</span>
                        </section>
                    </a>
                </div>

                <div class="col-md-3 col-xs-6">
                    <a href="">
                        <section>
                            <i class="fa fa-bug"></i><br>
                            <span>Report a bug</span><br>
                            <span>bug@tagalong.no</span>
                        </section>
                    </a>
                </div>

            </div><!-- END shortcut-menu -->

            <div class="text-center" id="copy">&copy All rights reserved Tag Along</div>
        </div>
    </div><!-- END container -->

</footer>

</body>
</html>
