
<div class="container">
    <div class="row">
        <div class="col-sm-4" ng-repeat="card in cards" id="{{ card.id }}">
            <div class="card-wrap" style="background-image: url(../statisk/images/ola_nordmann_sidebilde.jpg)">
                <div class="card-overlay"></div>
                <div class="new-post-in-card-icon">
                    5
                </div>
                <div class="edit-card-icon">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="card-wrap-inner">

                    <h3>{{ card.name | limitTo : 20 }}{{card.name.length > 20 ? '...' : ''}}</h3>
                    <p>{{ card.description | limitTo : 200 }}{{card.description.length > 200 ? '...' : ''}}</p>

                    <!-- Viser kun 3 tags, kan sepsifisere hvilke det er i edit card -->
                    <div class="card-tag-wrap">
                        <ul class="card-tag-list">
                            <li ng-repeat="tag in card.filter">{{ tag }}</li>
                        </ul>
                    </div>
                </div>
            </div><!-- END - card-wrap -->
        </div><!-- END col-sm-4 -->

        <div class="col-sm-4">
            <div class="card-wrap-add" ng-click="addCard()">
                <div class="card-add-inner">
                    <i class="fa fa-plus"></i><br>
                    Add new card
                </div><!-- END - card-add-inner -->
            </div><!-- END - card-wrap -->
        </div><!-- END col-sm-4 -->

    </div><!-- END row -->

</div><!-- END - container -->

<ng-include src="'partials/edit_card.html'"></ng-include>