<div class="container edit-profile-wrap edit-fields">
    <form>
    <center><h1>Create/edit page</h1></center>

        <div class="edit-profile-profile-pic" ngf-select="uploadFile($file)" ngf-drop="uploadFile($file)" ngf-pattern="'image/*'">
            <img class="img-responsive" ng-src="{{ me.profilePictureUrl }}">
            <div class="pic-overlay"><b>Click to edit</b></div>
        </div>
        
    <div class="row">
        <div class="col-sm-12">
            <h3 class="edit-this-title">Title</h3>
            <h4 class="delete-this-link"><a href="#">Delete page</a></h4>
            <input class="edit-field2" placeholder="Find a title for your page">
            
            <h3>About</h3>
            <textarea rows="6" class="edit-field2" placeholder="Write about your page"></textarea>
        </div><!--END col-sm-12-->
    </div><!--END row-->

    <div class="row">
        <div class="col-sm-12">
            <h3>Tags for page</h3>
            <input name="email" ng-model="user.email" class="edit-field2" type="text" placeholder="Separate, tags, by, comma">
        </div><!--END col-sm-12-->
    </div><!--END rows-->   
   
    <div class="row">
        <div class="col-sm-12">
            <h3>Edit page information</h3>
            <h5 class="edit-title-description">Fields marked with * (asterisk) are required</h5>

            <br><br>

            <label>Year of birth</label>
            <select class="edit-field2" id="years">
                <option>Choose when you where born</option>
                <option value="1996">1996</option>
            </select>

            <label>Your gender</label>
            <select class="edit-field2" id="years">
                <option>Choose your gender</option>
                <option value="Famel">Female</option>
                <option value="Male">Male</option>
                <option value="Other">Other</option>
            </select>

            <label>City</label>
            <input type=text class="edit-field2" id="years" placeholder="Type in the city you're living in">

            <label>Field of study</label>
            <select class="edit-field2" id="years">
                <option selected disabled>Choose your field of study</option>
            </select>

            <label>Year of study start</label>
                <div class="form-group">
                    <div class='input-group date' id='studyStartYear'>
                        <input ng-model="user.born" type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div><!--ENDinput-group date -->
                </div><!--END for-group-->

        </div><!--END col-sm-12-->
       
    </div><!--END row-->
    
    <center><input type="submit" class="btn-fill btn-fill-save" value="Save changes"></center>
    </form>
</div><!-- END - container -->