<div class="container edit-profile-wrap edit-fields">
    <ng-form>
        <div class="center-input"><h1>Edit your profile details</h1></div>

        <div class="edit-profile-profile-pic" ngf-select="uploadFile($file)" ngf-drop="uploadFile($file)" ngf-pattern="'image/*'">
            <img class="img-responsive" ng-src="{{ me.profilePictureUrl }}">
            <div class="pic-overlay"><b>Click to edit</b></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input class="edit-field2" placeholder="Interests" value="{{ me.interests }}">
                <textarea rows="6" class="edit-field3" placeholder="About you">{{ me.about }}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Edit your personal status</h3>
                <h5 class="edit-title-description">Fields marked with * (asterisk) are required</h5>

                <br><br>

                <label for="userBorn">Year of birth</label>
                <div class="form-group">
                    <div class='input-group date' id='bornDate'>
                        <input id="userBorn" ng-model="user.born" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>

                <label for="gender-field">Your gender</label>
                <select ng-model="user.gender" id="gender-field" class="edit-field2">
                    <option value="null">Not specified</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other</option>
                </select>

                <label>City</label>
                <input ng-model="user.city" type=text class="edit-field2" placeholder="Type in the city you're living in">

                <label for="studyFieldId">Field of study</label>
                <select id="studyFieldId" class="edit-field2" ng-options="studyField.description for studyField in studyfields track by studyField.id" ng-model="user.studyFieldId"></select>

                <label for="studyStartYearInput">Study start year</label>
                <div class='input-group date' id='studyStartYear'>
                    <input id="studyStartYearInput" ng-model="user.studyStartYear" type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div><!--END col-sm-6-->

            <div class="col-sm-6">
                <h3>Edit your contact information</h3>
                <h5 class="edit-title-description">All fields are optional</h5>

                <br><br>

                <label>Email:</label>
                <input name="email" ng-model="user.email" class="edit-field2" type="text" placeholder="ola@nordmann.no">

                <label>Facebook:</label>
                <input class="edit-field2" type="text" placeholder="ola@nordmann.no">

                <label>LinkedIn:</label>
                <input class="edit-field2" type="text" placeholder="ola@nordmann.no">

                <label>Website:</label>
                <input class="edit-field2" type="text" placeholder="ola@nordmann.no">
            </div><!--END col-sm-6-->
        </div><!--END row-->

    </div><!--END container-->
        <center><input type="submit" class="btn-fill btn-fill-save" value="Save changes" ng-click="updateProfile()"></center>

        <!-- <div class="col-md-12 center-input"><input type="submit" class="btn-fill" value="Save chan" ng-click="updateProfile()"></div>-->

    </ng-form>
</div><!-- END - container -->