<div class="container">

    <div class="header-image-wrap">
        <!--TODO: Get the header from the database-->
        <img src="../statisk/images/event_pic.jpg" class="img-responsive" alt="">
        <div class="event-background-overlay"></div>
        <div class="page-profile-image" style="background-image: url('../statisk/images/fubar_logo.jpg');">
        </div>

        <div class="page-name"><h1>@{{ page.name }}</h1></div>

        <div class="add-page-to-card" ng-click="addToCard()">
            <div class="add-page-to-card-text">Add to card</div>
            <div class="add-page-to-card-btn">
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div><!-- END header-image-wrap -->


    <!-- Page content -->
    <div class="page-content">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-left-column">

                    <div class="shout-out-box box">

                        <div class="box-title shout-out-title">
                            <h3><i class="fa fa-bullhorn"></i> {{ page.name }} Shout out</h3>
                            <div class="quick-edit"><i class="fa fa-pencil"></i> Quick edit</div>
                        </div>
                        <div class="shout-out-text">
                            <p>
                                Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipisicing elit. Molestiae incidunt labore sapiente.
                            </p>
                            <p>
                                <strong>temporibus ab est non quia, cupiditate</strong>
                            </p>
                        </div>
                    </div><!-- END shout out box -->

                    <div class="about-n-gallery box">
                        <div class="box-title">
                            <h3><a href="">About</a></h3>
                        </div>
                        <span></span>
                        <div class="box-title">
                            <h3><a href="">Gallery</a></h3>
                        </div>
                    </div>

                    <div class="about-box box">
                        <div class="box-title">
                            <h3>About</h3>
                        </div>
                        <div class="about-box-text">
                            {{ description }}
                        </div><!-- END about tekst -->
                        <div class="about-read-more" ng-click="readMore()">
                            <span class="read-more">{{ showMoreText ? 'Show less' : 'Read more' }}</span>
                        </div>

                    </div><!-- END about-box -->

                    <div class="gallery-box box">
                        <div class="box-title">
                            <h3>Gallery</h3>
                        </div>

                        <div class="gallery-thumbs-wrap">
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="../statisk/images/ola_nordmann.jpeg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="../statisk/images/ola_nordmann_sidebilde.jpg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="../statisk/images/event_pic.jpg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="../statisk/images/ola_nordmann_sidebilde.jpg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="../statisk/images/profilbilde_jap.jpg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="../statisk/images/ola_nordmann_sidebilde.jpg" alt="">
                            </div>
                        </div>

                        <div class="view-gallery">
                            <span>View gallery</span>
                        </div>

                    </div><!-- END about-box -->


                </div><!-- END page-left-column -->
            </div>
            <div class="col-sm-6">
                <div class="page-right-column">
                    <ng-include src="'partials/person_feed.html'">
                    <!-- TODO
                    <?php include 'person_feed.html' ?> -->
                </div>
            </div>
        </div>
    </div><!-- END page-content -->

</div><!--end container-->

<div class="add-to-card-wrap box">
    <div class="box-title"><h3>@Fubar</h3></div>
    <input type="search" id="atcSearch" placeholder="Search for a card...">
    <div class="col-sidebar-cards">
        <div class="sidebar-card-icon" style="background-image: url(images/profilbilde_2.jpg)"></div>
        <h5>Social</h5>
        <div class="add-btn">Add</div>
    </div>
    <div class="col-sidebar-cards">
        <div class="sidebar-card-icon" style="background-image: url(images/profilbilde_2.jpg)"></div>
        <h5>Yolo</h5>
        <div class="add-btn">Add</div>
    </div>
</div>

