<?php include 'header.php'; ?>

<div class="container">

    <!--<h2 class="pages-header-text">Pages</h2>-->

    <div class="pages-main-content">
        <div class="row">
            <div class="col-sm-5">
                <div class="filter-pages box">
                   <input type="submit" class="btn-no-fill all-feeds-btn" value="Unfiltered">
                   
                    <div class="order-by-box">
                        <div class="box-title">
                            <h3>Order by</h3>
                        </div>

                        <form class="checkbox-style order-pages-by">
                            <input type="checkbox" class="checkbox-style" name="check">Most popular<br>
                            <input type="checkbox" class="checkbox-style" name="check">Most resent<br>
                        </form><!--checkbox-style boxD-->
                    </div><!--END order-by-box-->
                           
                    <div class="filter-by-box">     
                        <div class="box-title">
                            <h3>Filter by</h3>
                        </div>
                
                        <form class="filter-pages-by">
                            <input type="checkbox" class="checkbox-style filter-pages-by" value="" id="id">Kommunikasjon<br>
                            <input type="checkbox" class="checkbox-style filter-pages-by">Kunstfag<br>
                            <input type="checkbox" class="checkbox-style filter-pages-by">Teknologi<br>
                            <input type="checkbox" class="checkbox-style filter-pages-by">Film, TV og spill<br>
                            <input type="checkbox" class="checkbox-style filter-pages-by">Ledelse
                        </form>
                    </div><!--END filter-by-box--> 
                </div><!--END filter-pages box-->
            </div><!-- col-sm-5 END-->

            <div class="col-sm-7">

                <div class="page-preview" ng-repeat="page in pages">
                    <div class="page-preview-image" style="background-image: url('../statisk/images/event_pic.jpg');">

                        <div class="add-page-to-card-pages" ng-click="addToCard()">
                            <div class="add-page-to-card-text">Add to card</div>
                            <div class="add-page-to-card-btn">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div><!-- END add page to card -->

                        <a ng-href="#/pages/{{ page.customUrl ? page.customUrl : page.id }}">
                            <div class="page-preview-info">
                                <ul class="card-tag-list">
                                    <li>#TODO: Resolve this from backend</li>
                                    <li>#Kvinner&IT</li>
                                    <li>#Datafordamer</li>
                                    <li>#BedreEnnGutta</li>
                                </ul><!--card-tag-list END-->
                            </div><!--page-preview-info END-->

                            <div class="page-preview-header">
                                <h3 class="preview-title">{{ page.name }}</h3>
                            </div>
                        </a>
                    </div><!--page-preview-image END-->
                </div><!--page-preview END-->


            </div><!--page-preview END-->
        </div><!-- col-sm-8 END-->
    </div><!-- most-popular-pages box END-->
</div><!--row END-->
</div><!--end pages-main-content-->

</div><!--end container-->

<?php include 'footer.php'; ?>