
.events-feed-wrap h3{
    color: #000;
    text-transform: uppercase;
}
.an-event-wrap{ /* Wrap rundt et event, upcoming og my event */
    overflow: hidden;
    margin: 20px 0;
    background-color: #FFF;
    position: relative;
    border-radius: 10px;
}
.attending-checked{ /* Når man har trykket attending */
    background-color: #bcbcbc;
}
.event-image-wrap{
    width: 100%;
    height: 150px;
    background-size: cover;
    position: relative;
    padding-bottom: 10px;
    z-index: 300;
}
.event-image-wrap .event-title{
    margin: auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    font-weight: bold;
    font-size: 1.7em;
    color: #FFF;
    display: inline;
    pointer-events: none;
}
.event-image-wrap a{
    color: #FFF;
}
.event-image-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,000000+0,000000+100&0+69,0.67+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 69%, rgba(0,0,0,0.67) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0.67) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 69%,rgba(0,0,0,0.67) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#ab000000',GradientType=0 ); /* IE6-9 */

}
.event-attending-btn{ /* Knapp for å delta */
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #333;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
    opacity: 1;
    color: #FFF;
    overflow: hidden;
    cursor: pointer;
    z-index: 400;
    transition: background-color 200ms linear;
}
.attending-text{ /* Tekst inne i knappen */
    position: absolute;
    top: 8px;
    right: 15px;
    display: none;
}
.event-attending-btn .fa{ /* Ikonet i knappen */
    font-size: 1.2em;
    position: absolute;
    left: 0;
    right: 0;
    top: 11px;
    text-align: center;
    margin: auto;
    color: #FFF;
}
.events-attending{
    font-weight: bold;
}
.events-about{ /* Info om eventet */
    padding: 15px;
}
.an-event-wrap .card-tag-wrap{
    margin-top: 15px;
}
.an-event-wrap .event-info{
    width: 80px;
    height: 80px;
    background-color: #1EB6EC; /* Lightblue */
    position: absolute;
    right: -35px;
    bottom: -35px;
    border-radius: 50%;
    cursor: pointer;
}
.an-event-wrap .event-info .fa{
    position: absolute;
    left: 22px;
    top: 18px;
    font-size: 1.3em;
}