footer{
    padding: 30px 0 30px 0;
    color: #FFF;
}
footer #copy{
    opacity: 0.7;
    font-size: 12px;
}
/* Menu section */
.footer-menu{
    overflow: auto;
    padding-bottom: 55px;
    margin-bottom: 50px;
    position: relative;
}
.footer-menu:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
}
.footer-menu .menu-item{
    text-align: center !important;
    margin-top: 30px;
}
.footer-menu .menu-item a{
    color: #d5d5d5;
}
.footer-menu .logo-item{
    text-align: center;
}
.footer-menu .logo-item img{
    max-width: 200px;
    width: 100%;
}
/* END menu section */

/* Shortcut section */
.shortcut-menu{
    overflow: auto;
    margin-bottom: 50px;
}
.shortcut-menu section{
    text-align: center;
    color: #FFF;
    background-color: #222;
    border-radius: 10px;
    padding: 15px 10px;
}

.shortcut-menu div .fa{
    font-size: 3em;
    margin-bottom: 10px;
    color: #a0a0a0;
    transition: all 200ms linear;
}
.shortcut-menu div span{
    width: 100%;
}
.shortcut-menu div span:first-of-type{
    color: #FFF;
}
.shortcut-menu div span:last-of-type{
    color: #a0a0a0;
}
.shortcut-menu div a:hover{
    text-decoration: none;
}
.shortcut-menu div section:hover .fa{
    color: #FFF !important;
    transition: all 200ms linear;
}


@media screen and (max-width: 991px){
    .footer-menu .menu-item{
        display: none;
    }

    .shortcut-menu section{
        margin-bottom: 30px;
    }
} /* END 767px */