/* Cards */
.card-wrap{ /* Wrap rundt et card */
    width: 100%;
    background-color: white;
    padding: 15px 15px 10px 15px;
    position: relative;
    box-sizing: border-box;
    border-bottom: 5px solid #1eb6ec;
}
.card-wrap-inner{
    min-height: 150px;
    position: relative;
}
.card-wrap h3{ /* Tittel på card */
    margin-top: 0;
    font-weight: bold;
}
.card-wrap .card-tag-wrap{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.card-tag-wrap ul.card-tag-list{ /* Liste med tags */
    margin: 0;
    padding: 0;
}
ul.card-tag-list > li{ /* Hver tag */
    display: inline-block;
    background-color: #333;
    color: #FFF;
    padding: 2px 5px;
    margin: 5px 3px 0px 0;
    cursor: pointer;
}
ul.card-tag-list > li:hover{
    background-color: #0a0a0a;
}
ul.tag-path{ /* Stien til hver tag */
    display: none;
    position: absolute;
    left: 0;
    padding: 0;
    background-color: #0a0a0a;
    border-top: 2px solid #FFF;
    margin-top: 1px;
    padding: 5px;
    width: 100%;
    z-index: 800;
}
ul.card-tag-list li:hover ul.tag-path{
    display: block;
}
ul.card-tag-list > li ul.tag-path{

}
/* END - Cards */