/* Westerdals fem farger */
  #one, #two, #three, #four, #five{
    width: 20%;
    height: 8px;
    float: left;
    position: relative;
  }
  #one{ background-color: #1eb6ec; }
  #two{ background-color: #fd7265; }
  #two:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: -8px solid transparent;
    border-right: 8px solid #fd7265;
    margin-left: -8px;
  }
  #three{ background-color: #63caa6; }
  #three:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: -8px solid transparent;
    border-right: 8px solid #63caa6;
    margin-left: -8px;
  }
  #four{ background-color: #835581; }
  #four:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: -8px solid transparent;
    border-right: 8px solid #835581;
    margin-left: -8px;
  }
  #five{ background-color: #fed575; }
  #five:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: -8px solid transparent;
    border-right: 8px solid #fed575;
    margin-left: -8px;
  }
/* END - Westerdals fem farger */

/* Menu */
  /* Top header */
    .top-header{ /* Øverste del av menyen */
        background-color: #333;
        padding: 10px 0;
        position: relative;
    }
    .top-header .logo{
        display: inline;
        margin-right: 30px;
        position: relative;
        bottom: 0;
        color: white;
        height: 50px;
    }
    .top-header input[type=button]{
        background-color: transparent;
        border: 2px solid #63caa6;
        color: #FFF;
        text-transform: uppercase;
        font-size: 12px;
        padding: 5px 15px 3px 15px;
        position: relative;
        margin-bottom: -10px;
    }
    .top-header input[type=button]:hover{
        background-color: #63caa6;
    }
    .top-left{
        float: left;
    }
    .top-right{
        float: right;
    }
    .fast-search{
        display: inline-block;
        float: right;
        margin-left: 20px;
        position: relative;
        top: 0;
    }
    .fast-search button{ /* Søkeikon */
        background-color: rgba(255, 255, 255, .0);
        border: none;
        margin-left: -4px;
        padding: 3px 3px 1px 3px;
        border-bottom: 1px solid #FFF;
        color: #FFF;
    }
    .search-overlay-wrap{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #FFF;
      z-index: 999;
      display: none;
    }
    .search-overlay-wrap input[type="search"]{
      border: none;
      border-bottom: 2px solid #c4c4c4;
      font-size: 3em;
      width: 100%;
      margin-top: 70px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .search-overlay-wrap input[type="search"]:focus{
      outline: none;
    }
    .search-overlay-wrap .exit-search{
      position: absolute;
      right: 35px;
      font-size: 2em;
      top: 92px;
    }
    .logged-in-person{
        display: inline-block;
        float: right;
        margin-left: 20px;
        padding: 3px 5px 1px 5px;
        color: #FFF;
        cursor: pointer;
        border-bottom: 1px solid white;
    }
    .logged-in-person:hover, .logged-in-person:hover i{
        border-color: #63caa6;
    }
    .logged-in-person i{
        margin-left: 10px;
    }
    .varsel{
      float: right;
      margin-left: 20px;
      position: relative;
    }
    .varsel i{
      color: white;
      padding: 5px 5px 5px 5px;
      border-bottom: 1px solid #FFF;
    }
    .varsel .fa-bell{
      display: block;
    }
    .varsel .fa-bell-o{
      display: none;
    }
    .varsel:hover .varsel-panel, .varsel:focus .varsel-panel{
      display: block;
    }
    .varsel-panel{
      display: none;
      position: absolute;
      z-index: 90000; /* Over alt annet innhold */
      right: 0;

      margin-top: 32px;
      border: 3px solid #333;
        width: auto;
      height: 500px;
      background-color: #D4E5DC;
    }
@media screen and (min-width: 470px){
    .varsel-panel{
        min-width: 400px;
    }
}
@media screen and (max-width: 400px){
    .varsel-panel{
        min-width: 250px;
    }
}

.header-varsel-panel{
    width: 100%;
    overflow: auto;
    text-align: center;
}

.bell-varsel{
    width: auto;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 18px;
}

.varsel-title{
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #63caa6;
}

.varsel-innhold{
    margin: 10px;
    width: auto;
    height: auto;
    overflow: auto;
}

.profilbilde-varsel{
    margin-right: 0;
    width: 50px;
    height: auto;
    float: left;
}

.tekst-varsel{
    width: calc(100% - 50px);
    height: auto;
    float: left;
    font-size: 10px;
    padding-left: 20px;
}

.varsel-panel .fa-bell{
    border: none;
}
  /* END - Top header */

  .menu-wrap{ /* Wrap rundt menydelen - nedre del av header */
      width: 100%;
      background-color: #63caa6;
      height: 38px;
      overflow: auto;
      margin-bottom: 20px;
  }
  #inner-menu{ /* Indre kjerne av menyen */
      overflow: hidden;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
  }
  .container{
      max-width: 900px;
      width: 100%;
      position: relative;
  }
  .menu{ /* Selve menyen utenfor ul */
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: inline-block;
      float: none;
      margin: auto;
  }
  .menu ul{
      margin: 0 auto;
      padding: 0px 0;
      display: block;
      width: 100%;
      text-align: center;
      float: none;
  }
  .menu ul li{
      display: inline-block;
      margin: 0px 10px;
  }
  .menu ul li a{
      display: inline-block;
      color: #FFF;
      padding: 8px 5px 9px 5px;
      text-transform: uppercase;
      text-decoration: none;
  }
  .menu ul li a:hover{
      color: #333;
  }
  .menu ul li a.active{ /* Siden personen er på */
      color: #FFF;
      font-weight: bold;
  }
@media screen and (min-width: 767px){
    .menu{ display: block !important;}
}
@media screen and (max-width: 767px){
    #inner-menu{
        margin-left: -15px !important;
        top: 6px;
        margin-right: 0;
        position: relative;
    }
    .menu{
        display: none;
        clear: both;
        width: 100%;
        height: 100%;
        background-color: #63caa6;
        overflow: hidden;
        position: fixed;
        z-index: 8000;
        scroll: no-scroll;
        vertical-align: middle;
    }
    .menu ul{
        margin-top: 40px;
        width: 100%;
        overflow: hidden;
        /* Vertikalt center */
        /* position: relative;
        top: 50%;
        transform: translateY(-50%); */
    }
    .menu ul li{
      display: block;
      width: 100%;
      float: left;
      text-align: center;
      margin: 10px 0;
      font-size: 18px;
    }
    .menu ul li a{
        padding: 10px 0;
        color: #FFF;
    }
    .show{
        display: block !important;
    }
    .burger-wrap{
        margin-left: 8px;
        position: relative;
        width: 30px;
        height: 25px;
        display: block;
        float: right;
        cursor: pointer;
        z-index: 9000;
    }
    .burger-wrap .bar{
        width: 30px;
        height: 3px;
        position: absolute;
        background-color: white;
    }
    /* Burger-strekene */
    .bar1{ top: 0; }
    .bar2{ top: 20px; }
    .bar3{ top: 10px; }
    .bar1, .bar2{ -webkit-transition: all 300ms linear; }
    /* END burger-strekene */
}
/* END - Menu */

.breadcrumbs{
  margin-bottom: 30px;
  font-size: 12px;
}
.breadcrumbs a{
  color: #000;
}
.breadcrumbs a:hover{
  color: #63caa6;
}