/* Westerdals fem farger */
  #one, #two, #three, #four, #five{
    width: 20%;
    height: 8px;
    float: left;
    position: relative;
  }
  #two:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: -8px solid transparent;
    margin-left: -8px;
  }
  #three:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: -8px solid transparent;
    margin-left: -8px;
  }
  #four:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: -8px solid transparent;
    margin-left: -8px;
  }
  #five:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: -8px solid transparent;
    margin-left: -8px;
  }
/* END - Westerdals fem farger */

/* Menu */
  /* Top header */
    .top-header{ /* Øverste del av menyen */
        background-color: #333;
        padding: 10px 0;
        position: relative;
    }
    .top-header .logo{
        display: inline;
        margin-right: 30px;
        position: relative;
        bottom: 0;
        color: white;
        height: 50px;
    }
    .top-left{
        float: left;
    }
    .top-right{
        float: right;
    }
    #searchBtn .fa{
      padding-right: 4px;
    }
    .fast-search{
        display: inline-block;
        float: right;
        margin-left: 20px;
        position: relative;
        top: 0;
    }
    .fast-search button{ /* Søkeikon */
        background-color: transparent;
        border: none;
        margin-left: -4px;
        padding: 3px 3px 1px 3px;
        color: #FFF;
    }
    .search-overlay-wrap{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #F2F2EE;
      z-index: 999;
      display: none;
    }
    .search-overlay-wrap .search-search{
      position: absolute;
      right: 35px;
      font-size: 2em;
      top: 120px;
      cursor: pointer;
    }
    .close-search{
      float: right;
      position: relative;
      top: 20px;
      right: 55px;
      font-size: 1.2em;
      cursor: pointer;
    }
    .close-search .exit-search{
      position: absolute;
      right: -35px;
      font-size: 2em;
      top: -3px;
      cursor: pointer;
    }
    .search-overlay-wrap input{
      width: 100%;
      background-color: #FFF;
      border: none;
      border-bottom: 2px solid #1eb6ec;
      font-size: 3em;
      position: relative;
      top: 70px;
      padding: 10px 20px;
    }
    .search-result-wrap{
      padding: 10px;
      background-color: #FFF;
      margin-bottom: 10px;
      position: relative;
    }
    .result-image-wrap{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 60px;
      background-size: cover;
    }
    .search-name{
      font-weight: bold;
    }
    .search-add{
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      height: 100%;
      color: #333;
      background-color: #1eb6ec;
    }
    .search-add .fa{
      position: relative;
      top: 45%;
      transform: translateY(-50%);
    }
    .search-name, .search-stud{
      position: relative;
      margin-left: 70px;
    }
    .search-result-wrap .search-result{
      margin-bottom: 0;
      overflow: hidden;
    }
    .search-overlay-wrap input:focus{
      outline: none;
    }
    .logged-in-person{
        display: inline-block;
        position: relative;
        float: right;
        margin-left: 20px;
        padding: 3px 5px 5px 5px;
        color: #FFF;
        cursor: pointer;
    }
    .logged-in-person a{ color: #FFF;}
    .logged-in-person a:hover{ text-decoration: none;}
    .logged-in-person:hover{
      background-color: #222;
      border-radius: 5px 5px 0 0;
    }
    .logged-in-person i{
        margin-left: 10px;
    }
    .logged-in-person:hover .menu-person-dropdown{
      display: block;
    }
    .logged-in-person:hover .person-name{
      border-bottom: 1px solid #333;
    }
    .menu-profile-wrap{
      position: relative;
    }
    .menu-person-dropdown{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      padding: 5px;
      border-radius: 0 0 5px 5px;
      background-color: #222;
      z-index: 2;
      display: none;
    }
    .logged-in-person:hover .person-name{
      padding-bottom: 5px;
    }
    .person-list{
      padding: 5px;
    }
    .person-list:hover{
      background-color: #000;
      border-radius: 3px;
    }
    .notification-title{
      margin-right: 10px;   
    }
    .varsel{
      color: white;
      float: right;
      margin-left: 20px;
      position: relative;
      padding: 3px 5px 5px 5px;
    }
    #noticifation-title{
      color: white;
      position: relative;
      top: 7px;
    }
    .varsel .fa-bell{
        color: white;
    }
    .varsel .fa-bell-o{
      display: none;
    }
   
.varsel:hover{
    cursor: pointer;
}

@media screen and (min-width: 401px){
    .arrow-up{
        left: 20px;
    }
    .dropdown-content{
        min-width: 350px; 
    }
    
}
@media screen and (max-width: 400px){
    .varsel-panel{
        min-width: 100px;
    }
    .notification-title{
        display: none;
    }
    .arrow-up{
        left: 0px;
    }
    .dropdown-content{
        position: fixed !important;   
        top: 78px;
    }
}
.card-menu-wrap{
  position: absolute;
  left: 15px;
}
.header-varsel-panel{
    margin: 0;
    background-color: #8fc6d9;
    width: 100%;
    overflow: auto;
    text-align: center;
}
/* DROPDOWN TEST*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    z-index: 90000;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    margin: 0 0px;
    width: auto;
    height: 80px;
    color: black;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: aquamarine}

.arrow-up {
    display: none;
    z-index: 90000;
    position: relative;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-bottom: 10px solid #8fc6d9;
}
/* DROPDOWN TEST*/


.notification-img{
    padding: 10px 10px 10px 10px;
    float: left;
    position: relative;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.notification-name{
    padding: 3px;
    float: left;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 13px;
    width: 200px;
}
.notification-text{
    padding: 3;
    float: left;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 0;
    width: 200px;
}
.notification-time{
    float: right;
    margin: 5px 5px 5px 0;
    font-size: 10px;
}

.profilbilde-varsel{
    margin-right: 0;
    width: 50px;
    height: auto;
    float: left;
}

.overskrift-varsel{
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 5px;
}



.tekst-varsel{
    width: calc(100% - 60px);
    height: auto;
    float: left;
    font-size: 10px;
    padding-left: 20px;
}

.varsel-panel .fa-bell{
    border: none;
}
  /* END - Top header */

  .menu-wrap{ /* Wrap rundt menydelen - nedre del av header */
      width: 100%;
      height: 38px;
      overflow: auto;
      margin-bottom: 20px;
  }
  #inner-menu{ /* Indre kjerne av menyen */
      overflow: hidden;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
  }
  .container{
      max-width: 900px;
      width: 100%;
      position: relative;
  }
  .menu{ /* Selve menyen utenfor ul */
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: inline-block;
      float: none;
      margin: auto;
  }
  .menu ul{
      margin: 0 auto;
      padding: 0px 0;
      display: block;
      width: 100%;
      text-align: center;
      float: none;
  }
  .menu ul li{
      display: inline-block;
      margin: 0px 10px;
  }
  .menu ul li a{
      display: inline-block;
      color: #FFF;
      padding: 8px 5px 9px 5px;
      text-transform: uppercase;
      text-decoration: none;
  }
  .menu ul li a:hover{
      color: #333;
  }
  .menu ul li a.active{ /* Siden personen er på */
      color: #FFF;
      font-weight: bold;
  }
@media screen and (min-width: 768px){
    .menu{ display: block !important;}
}
@media screen and (max-width: 767px){
    .add-new-btn-wrap{
      bottom: 20px !important;
    }
    #inner-menu{
        padding-left: 0px !important;
        top: 6px;
        margin-right: 0;
        position: relative;
    }
    .menu{
        display: none;
        clear: both;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
        z-index: 900;
        scroll: no-scroll;
        vertical-align: middle;
    }
    .menu ul{
        margin-top: 40px;
        width: 100%;
        overflow: hidden;
        /* Vertikalt center */
        /* position: relative;
        top: 50%;
        transform: translateY(-50%); */
    }
    .menu ul li{
      display: block;
      width: 100%;
      float: left;
      text-align: center;
      margin: 10px 0;
      font-size: 18px;
    }
    .menu ul li a{
        padding: 10px 0;
        color: #FFF;
    }
    .show{
        display: block !important;
    }
    .burger-wrap{
        margin-left: 8px;
        position: relative;
        width: 30px;
        height: 25px;
        display: block;
        float: right;
        cursor: pointer;
        z-index: 1000;
    }
    .burger-wrap .bar{
        width: 30px;
        height: 3px;
        position: absolute;
        background-color: white;
    }
    /* Burger-strekene */
    .bar1{ top: 0; }
    .bar2{ top: 20px; }
    .bar3{ top: 10px; }
    .bar1, .bar2{ -webkit-transition: all 300ms linear; }
    /* END burger-strekene */
}
/* END - Menu */

.breadcrumbs{
  margin-bottom: 30px;
  font-size: 12px;
}
.breadcrumbs a{
  color: #000;
}
.breadcrumbs a:hover{
  color: #000;
}

/* Add new buttons */
.add-new-btn-wrap{
  position: fixed;
  width: 50px;
  height: auto;
  right: 30px;
  bottom: 40px;
  z-index: 3000;
}
.add-new-btn{
  border-radius: 50%;
  background-color: #FFF;
  width: 40px;
  height: 40px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  -webkit-box-shadow: 2px 2px 3px #848484;
}
.add-new-btn .fa{
  position: absolute;
  text-align: center;
  margin: auto;
  top: 10px;
  left: 0;
  right: 0;
  color: #333;
}
#addNew{
  width: 50px;
  height: 50px;
  bottom: 0;
  opacity: 1;
}
#addNew .fa{
  top: 15px;
  font-size: 1.3em;
  color: #FFF;
}
#newPostBtn{
  bottom: 50px;
}
#newPostBtn:before, #newPageBtn:before, #newEventBtn:before, #newSearchBtn:before{
  background-color: #FFF;
  padding: 0 5px 2px 5px;
  border-radius: 3px;
  top: 7px;
  border: 1px solid #61afca;
}
#newPostBtn:before{
  content: 'Add new post';
  position: absolute;
  left: -105px;
}
#newPageBtn{
  bottom: 100px;
}
#newPageBtn:before{
  content: 'Add new page';
  position: absolute;
  left: -110px;
}
#newEventBtn{
  bottom: 150px;
}
#newEventBtn:before{
  content: 'Add new event';
  position: absolute;
  left: -115px;
}
#newSearchBtn{
  bottom: 200px;
}
#newSearchBtn:before{
  content: 'Search';
  position: absolute;
  left: -65px;
}
/* END add new buttons */

/* Fixed */
.color-fixed{
  position: fixed;
  top: 0;
  height: 8px;
  width: 100%;
  z-index: 800;
}
.menu-fixed{
  position: fixed;
  top: 8px;
  z-index: 800;
}
@media screen and (max-width: 600px){
  .person-name span, #searchBtn span{
    display: none;
  }
} /* END max 400px */