.movie-header-box{
    height: 100%;
    width: 100%;
    background-color: red;
}
.movie-bilde{
    margin-right: 30px;
    float: left;
    width: 100px;
    display: block;
}
.movie-header-area{
    height: auto;
    width: auto;
    float: left;
    border-bottom: 3px solid #000;
}
.movie-header-title{
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 3px solid #000;
    overflow: hidden;
}
.movie-description{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.movie-content-feed{
    width: auto;
    height: auto;
}
.movie-box-title .movie-recent-posts-title{
    margin-left: 20px;
    padding-bottom: 5px;
}
.movie-upcoming-events-feed{
    border-top: 3px solid #000;
    width: 100%;
    height: 500px;
    background-color: lightgray;
}
.recent-movieposts-feed{
    border-top: 3px solid #000;
    width: 100%;
    height: 500px;
    background-color: lightgray;
}
.boxinner-feedbar{
   padding: 60px;
   float: left;
   background-color: black;
}
