.new-event.holder{
    width: 100%;
    height: auto;
    background-color: white;
    clear: both;
    margin-bottom: 15px;
    padding: 10px
}

.edit-event-pic{
    margin-bottom: 20px;
}
.name-event{
    background-color: transparent;
}
.invite-text{
    border-bottom: 1px solid #63caa6;
}
.invite-container{
    margin-top: 20px;
    width: auto;
    height: auto;
    overflow: auto;
}
.invite-people{
    float: left;
}
.invite-checkbox{
    float: left;
    padding-right: 100px;
}