.profile-box{
    width: 100%;
    height: auto;
    clear: both;
    margin-bottom: 15px;
    padding: 10px;
}
.about-me-box{
    width: auto;
    height: auto;
    background-color: white;
    clear: both;
    margin-bottom: 15px;

    padding: 5px;
}
.profile-post-box{
    width: 100%;
    height: auto;
    background-color: white;
    clear: both;
    margin-bottom: 300px;
    padding: 5px;
    <!--overflow: scroll;-->
}
.profile-pic-holder{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 80px;
    float: left;
}
.edit-profile-page{
    float: right;
}

.holder{
    margin-top: 0;
}
.info-holder b{
    margin-right: 5px;
}
.info-holder{
    margin-left: 200px;
}
.info-format{
    float: left;
    width: auto;
}
.contact-info{
    <!--font: auto;-->
}
.profile-posts{
    font-size: 18px;
}
.post-profile{
    background-color: lightgrey;
    margin-left: 52px;
}
.inner-feedbar{
    height:auto;
}
@media screen and (max-width: 500px){
    .profile-pic-holder{
        width:70px;
        height: 70px;
    }
    .info-holder{
        margin-left: 100px;
    }
}