.profile-box{
    width: 100%;
    height: auto;
    clear: both;
    margin-bottom: 15px;
    padding: 10px;
}
.about-me-box{
    width: auto;
    height: auto;
    background-color: white;
    clear: both;
    margin-bottom: 15px;

    padding: 5px;
}
.profile-post-box{
    width: 100%;
    height: auto;
    background-color: white;
    clear: both;
    margin-bottom: 300px;
    padding: 5px;
    <!--overflow: scroll;-->
}
.profile-pic-holder{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 80px;
    float: left;
}
.edit-profile-page{
    float: right;
}

.holder{
    margin-top: 0;
}
.info-holder b{
    margin-right: 5px;
}
.info-holder{
    margin-left: 200px;
}
.info-format{
    float: left;
    width: auto;
}
.contact-info{
    <!--font: auto;-->
}
.profile-posts{
    font-size: 18px;
}
.post-profile{
    background-color: lightgrey;
    margin-left: 52px;
}
.inner-feedbar{
    height:auto;
}
@media screen and (max-width: 500px){
    .profile-pic-holder{
        width:70px;
        height: 70px;
    }
    .info-holder{
        margin-left: 100px;
    }
}

/*----tabs----*/
.tabs{
    overflow: hidden;
    width: 100%;
    display:inline-block;
}
    /*----tab links----*/
    /*----clear fix----*/
    .tab-links:after{
        display: block;
        clear: both;
        content: '';
    }
    .tabs ul{
        margin-bottom: 0;
        
        padding-left: 0;
    }

    .tab-links li{


    }
        .tabs-item{
            display: table-cell;

        }

        .tab-links a{
            margin:0 0;
            float:left;
            list-style:none;
            display: inline-table;
            table-layout: fixed;
            width: 100%;
            padding: 9px 15px;
            border-radius: 3px 3px 0 0;
            background: #e6e1e1;
            opacity: .5;
            font-size: 16px;
            font-weight: 600;
            color: #4c4c4c;
            transition: all linear 0.15s;
        }


        .tab-links a:hover{
            opacity: .8;
            background:#e6e6e6;
            text-decoration:none;
        }

        li.active a, li.active a:hover {
            background:#fff;
            color:#4c4c4c;
            opacity: 1;
        }

        /*----- Content of Tabs -----*/
        .tabs-content {
            padding:15px;
            border-radius:3px;
            box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
            background:#fff;
            width: 100%;
        }

        .tab {
            display:none;
        }

        .tab.active {
            display:block;
}