.pages-header-text{
    padding-bottom: 10px;
     border-bottom: 3px solid #303030;
}

.pages-main-content{
    width: auto;
    height: auto;
}

.most-popular-pages{
    margin: 10px;
    height: 500px;
}

.pages-all-pages{
    height: 500px;
}

.pages-result-profilbilde{
    padding-right: 20px;
    width: 100px;
    float: left;
    display: block;
}

.pages-most-popular-header {
    margin-bottom: 30px;
    font-size: 2em;
    padding-bottom: 2px;
}

.pages-all-pages-header{
     margin-bottom: 30px;
    font-size: 2em;
    padding-bottom: 2px;
}

.page-result-description{
    overflow: hidden;
    width: auto;
}
/*Displying pages style*/
.page-preview{ /* Wrap rundt et event, upcoming og my event */
    overflow: hidden;
    margin: 20px 0;
    background-color: #FFF;
    position: relative;
    border: 5px solid #FFF;
}
.page-preview-image{
    width: 100%;
    height: 200px;
    background-size: cover;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 300;
    background-color: rgba(0,0,0, 0.1);
}
.page-preview-info{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    overflow: hidden;
}
.page-preview-info .card-tag-list{
    padding: 10px;
    margin-bottom: 0;
}
.page-preview-info .card-tag-list li{
    background-color: rgba(0,0,0, 0.3);
    border-radius: 3px;
    color: #FFF;
}
.page-preview-info .card-tag-list li:hover, .page-preview-info .card-tag-list li:focus{
    background-color: rgba(0,0,0, 0.6);
}
.page-preview-header{
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: #FFF;
}
.preview-title{
    color: #333;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    font-size: 1.3em;
}
/*Displying pages style END*/

/* Add to card knapp*/

.add-page-to-card-pages{
    position: absolute;
    right: 20px;
}

/* Add to card knapp END*/

/*Checkbox style*/
.checkbox-style {
    margin: 10px;
    position: relative;


}
/*Checkbox style END*/


  @media screen and (max-width: 500px){
    .pages-result-profilbilde{
      width: 50px;
    }
}