.pages-header-text{
    padding-bottom: 10px;
     border-bottom: 2px solid #303030; 
}

.pages-main-content{
    width: 100%; 
    height: 100%;
}

.pages-content-box{
    margin: 20px;
    width: auto;
    box-sizing: border-box;
    float: left;
}

.pages-most-popular-wrap{
    border-right: 2px solid #303030; 
    background-color: red;
}

.pages-result-profilbilde{
    padding-bottom: 60px;
    padding-right: 20px;
    width: 100px;
    float: left;
    display: block;
}

.pages-most-popular-header .pages-all-pages-header{
    font-size: 2em;
    padding-bottom: 2px;
    border-bottom: 2px solid #303030;
}

page-result-description{
    overflow: hidden;
    width: auto;
}

  @media screen and (max-width: 500px){
    .pages-result-profilbilde{
      width: 50px;
    }
}