.page-header{
    padding-bottom: 5px;
    border-bottom: 3px solid #000;
}
    
.page-under-menu{
    width: 100%;
}

.location-header{
    font-weight: bold;
    margin-right: 50px;
}

.facebook-header{
    font-weight: bold;
    margin-right: 30px;
}

h3{
    margin-left: 10px;
    padding-bottom: 5px;
}

.upcoming-events-box{
    margin-right: 30px;
    float: left;  
}

 .recent-posts-box{
    float: left;  
}

.upcoming-events-feed{
    margin: 10px;
    border-top: 3px solid #000;
    width: 400px;
    height: 500px;
    background-color: lightgray;
}

.recent-posts-feed{
    margin: 10px;
    border-top: 3px solid #000;
    width: 400px;
    height: 500px;
    background-color: lightgray;
}
    



    
