
.page-header-box{
    height: 100%;
    width: 100%;
    background-color: red;
}

.page-bilde{
    margin-right: 30px;
    float: left;
    width: 100px;
    display: block;
}

.page-header-area{
    height: auto;
    width: auto;
    float: left;
}

.page-header-title{
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 3px solid #000;
    overflow: hidden;
}
    
.page-description{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.page-under-menu{
    border-top: 3px solid #000;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    overflow: auto;
}

.location-header{
    font-weight: bold;
    margin-right: 50px;
    float: left;
}

.facebook-header{
    font-weight: bold;
    margin-right: 30px;
    float: left;
}

.content-feed{
    width: auto;
    height: auto;
}

.feed-box-title recent-posts-title{
    margin-left: 20px;
    padding-bottom: 5px;
}

.upcoming-events-box{
    margin-right: 30px;
}

 .recent-posts-box{
    }

.upcoming-events-feed{
    border-top: 3px solid #000;
    width: 100%;
    height: 500px;
    background-color: lightgray;
}

.recent-posts-feed{
    border-top: 3px solid #000;
    width: 100%;
    height: 500px;
    background-color: lightgray;
}
    



    
