.pages-header-text{
    padding-bottom: 10px;
     border-bottom: 3px solid #303030; 
}

.pages-main-content{
    width: auto; 
    height: auto;
}

.most-popular-pages{
    margin: 10px;
    height: 500px;
    border-right: 3px solid #303030; 
}

.pages-all-pages{
    height: 500px;
}

.pages-result-profilbilde{
    padding-right: 20px;
    width: 100px;
    float: left;
    display: block;
}

.pages-most-popular-header { 
    margin-bottom: 30px;
    font-size: 2em;
    padding-bottom: 2px;
}

.pages-all-pages-header{
     margin-bottom: 30px;
    font-size: 2em;
    padding-bottom: 2px;
}

.page-result-description{
    overflow: hidden;
    width: auto;
}

  @media screen and (max-width: 500px){
    .pages-result-profilbilde{
      width: 50px;
    }
}