.add-to-card-wrap{
    position: fixed;
    max-width: 500px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.add-to-card-wrap #atcSearch{
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 10px 15px;
    position: relative;
}
.add-to-card-wrap .box-title{
    margin-bottom: 15px;
}