
.edit-profile-wrap{
}
.edit-profile-profile-pic{
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    position: relative;
}
.pic-overlay {
    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity 300ms linear;
    cursor: pointer;
}
.edit-profile-profile-pic:hover .pic-overlay {
    opacity: 1;
    transition: opacity 300ms linear;
}
.edit-profile-profile-pic {
    display: block;
}
.pic-overlay {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #FFF;
}
.pic-overlay-text {
    text-align: center;
    margin: auto;
    margin-bottom: -30px;
    position: relative;
}
.group-description {
    margin-bottom: 30px;
    margin-top: 15px;
}
.edit-field-group {
    margin-top: 15px;
    margin-bottom: 15px;
}
.edit-this-title, .delete-this-link{
    float: left;
}
.delete-this-link{
    padding-top: 20px;
    padding-left: 725px;
}
.edit-fields .edit-field2{
    width: 100%;
    background-color: white;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
}
.edit-field3{
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid #DCDCDC;
    padding: 10px;
    border-radius: 3px;
}
.edit-fields .edit-field1:focus, .edit-fields .edit-field2:focus, .edit-fields .edit-field3:focus{
    outline: none;
}
.edit-fields label{
     /* se SASS */
}
.edit-fields .edit-field1{
    padding: 10px;
}
.edit-fields .edit-field2{
    padding: 8px 10px 10px;
    font-size: 1em;
}
/* Placeholder tekst */
.edit-fields ::-webkit-input-placeholder {
       color: #333;
       opacity: .8;
}
    .edit-fields :-moz-placeholder { /* Firefox 18- */
       color: #333;
       opacity: .8;
    }
    .edit-fields ::-moz-placeholder {  /* Firefox 19+ */
       color: #333;
       opacity: .8;
    }
    .edit-fields :-ms-input-placeholder {
       color: #333;
       opacity: .8;
    }

.edit-event-date-icon, .edit-event-location-icon{
    padding-right: 10px;
}
.center-input {
    text-align: center;
}
.center-input input {
    display: inline-block;
}
.center-input div {
    display: inline-block;
}
/* PEND - laceholder tekst */

/* END - Edit profil */