/* Edit profil */
.edit-profile-wrap{
}
.edit-profile-profile-pic{
    text-align: center;
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
}
.edit-profile-profile-pic .pic-overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity 300ms linear;
}
.edit-profile-profile-pic:hover .pic-overlay{
    opacity: 1;
    transition: opacity 300ms linear;
}
.pic-overlay b{
    margin: auto;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -10px;
    color: #FFF;
}

.edit-fields .edit-field1, .edit-fields .edit-field2{
    width: 100%;
    margin-bottom: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #63caa6; /* Change */
}
.edit-field3{
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    background-color: transparent;
    border: 1px solid #63caa6; /* Change */
    padding: 10px;
}
.edit-fields .edit-field1:focus, .edit-fields .edit-field2:focus, .edit-fields .edit-field3:focus{
    outline: none;
}
.edit-fields label{
    color: #63caa6; /* Change */
}
.edit-fields .edit-field1{
    padding: 10px;
}
.edit-fields .edit-field2{
    padding: 7px;
    font-size: 1.2em;
}
/* Placeholder tekst */
    .edit-fields ::-webkit-input-placeholder {
       color: #333;
       opacity: .8;
    }
    .edit-fields :-moz-placeholder { /* Firefox 18- */
       color: #333;
       opacity: .8;
    }
    .edit-fields ::-moz-placeholder {  /* Firefox 19+ */
       color: #333;
       opacity: .8;
    }
    .edit-fields :-ms-input-placeholder {
       color: #333;
       opacity: .8;
    }
/* PEND - laceholder tekst */

/* END - Edit profil */