/* STATISK KODING */
/*
Westerdalsfarger
Blå: #1eb6ec
Rød: #fd7265
Grønn: #63caa6
Lilla: #835581
Gul: #fed575

*/
/* Globale elementer */
body{
    background-color: #e0ece5;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.btn-no-fill{
    background-color: transparent;
    border: 2px solid #63caa6;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 15px 3px 15px;
    position: relative;
    margin-bottom: -10px;
    text-align: center;
    display: inline-block;
}
.btn-no-fill:hover{
    background-color: #63caa6;
}
.btn-fill{
    background-color: #63caa6;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 16px 4px 16px;
    position: relative;
    margin-bottom: -10px;
}
.btn-fill:hover{
    background-color: #3aab83;
}
/* END - Globale elementer */

/* Color change */
.ta-bg-color-blue{
    background-color: #1eb6ec !important;
}
.ta-bg-color-red{
    background-color: #fd7265 !important;
}
.ta-bg-color-yellow{
    background-color: #fed575 !important;
}
.ta-bg-color-purple{
    background-color: #835581 !important;
}
.ta-bg-color-green{
    background-color: #63caa6 !important;
}

.ta-menu-blue{
    background-color: #1eb6ec !important;
}
.ta-menu-blue:before{
    border-right: 8px solid #1eb6ec !important;
}
.ta-menu-red{
    background-color: #fd7265 !important;
}
.ta-menu-red:before{
    border-right: 8px solid #fd7265 !important;
}
.ta-menu-yellow{
    background-color: #fed575 !important;
}
.ta-menu-yellow:before{
    border-right: 8px solid #fed575 !important;
}
.ta-menu-purple{
    background-color: #835581 !important;
}
.ta-menu-purple:before{
    border-right: 8px solid #835581 !important;
}
.ta-menu-green{
    background-color: #63caa6 !important;
}
.ta-menu-green:before{
    border-right: 8px solid #63caa6 !important;
}
/* END - Color change */

/* menu.css */
/* forside.css */
/* search.css */
/* sidebar.css */