/* STATISK KODING */
/*
Westerdalsfarger
Blå: #1eb6ec
Rød: #fd7265
Grønn: #63caa6
Lilla: #835581
Gul: #fed575

*/
/* Globale elementer */
body{
    background-color: #e0ece5;
}
/* END - Globale elementer */

/* menu.css */
/* forside.css */
/* search.css */
/* sidebar.css */



