$color3: rgb(97,175,202); // Blue
$color5: rgb(121,85,128); // Purple
$color4: rgb(126,197,157); // Green
$color2: rgb(255,208,102); // Yellow - Svart tekst
$color: rgb(255,112,97); // Red
$dark: rgb(51,51,51); // #333 - Mørk går nesten svart
$white: rgb(255,255,255); // Hvit
$fontcolor: rgb(10,10,10); // Svart til de fleste farger
$fontcolorX: rgb(255,255,255); // Hvit til noen farger

// Profiles.css
.owner-col-6{ background-color: $color; color: $fontcolor;}
.owner-col-6:hover{ background-color: darken($color, 10%); }
.quick-edit{ background-color: $color; color: $fontcolor;}
.add-page-to-card-btn .fa{ color: $fontcolor; }

// Events.css
.an-event-wrap .event-info{ background-color: $color; }

// forside.css
.card-wrap{ border-bottom: 5px solid $color; }
.new-post-in-card-icon{ background-color: $color; }
.edit-card-icon{ color: $color; }
.card-extra{ background-color: $color; }
.card-settings{ color: $fontcolor; }
.card-settings:hover{ color: $fontcolorX; }
.number-of-new-posts{ color: $fontcolor; }
// search.css
.search-overlay-wrap input{ border-bottom: 2px solid $color !important; }
.search-add{ background-color: $color; }
.search-add .fa{ color: $fontcolor; }
.result-image-wrap{ border-right: 3px solid $color; }
.search-result-wrap a{ color: $color; }

// feed.css
.card-sidebar-image{ background-color: $color; }
//.card-selected{ border-right: 4px solid $color; }
.card-selected{ box-shadow: 0 0 0 4px rgba($color, 0.5); }
.card-selected:after{ border-left: 10px solid $color; }
.comments{ border-top: 2px solid $color; }
.events-preview-title a{ color: $color; }
.add-to-card-wrap .sidebar-card{ border-right: 0px solid $color; }
.add-to-card-wrap .sidebar-card:hover{ border-right: 4px solid $color; }

// ===========================

// forside.css

// login.css

// header.css
#one{ background-color: $color2; }
#two{ background-color: $color3; }
#two:before{ border-right: 8px solid $color3; }
#three{ background-color: $color; }
#three:before{ border-right: 8px solid $color; }
#four{ background-color: $color4; }
#four:before{ border-right: 8px solid $color4; }
#five{ background-color: $color5; }
#five:before{ border-right: 8px solid $color5; }

.menu-wrap{ background-color: $color; }
.menu{ background-color: $color; }
.menu ul li a{ color: $fontcolor;}
.add-new-btn{ border: 2px solid $color; }
#addNew{ background-color: $color; }

// movie_night_page.css

// new_event.css
.invite-text{ border-bottom: 1px solid $color; }

// other_profiles.css

// page_fubar.css
.add-page-to-card-btn{ background-color: $color; color: $fontcolor;}
.shout-out-box{ border-left: 4px solid $color; }

// pages.css

// profile_edit.css
.edit-fields .edit-field1, .edit-fields .edit-field2{ border-bottom: 1px solid $color; }
.edit-field3{ border: 1px solid $color; }
.edit-fields label{ color: $color; }

// search.css
.search-people .search-result-title{ border-bottom: 2px solid $color; }
.search-page-wrap input[type=search]{ color: $color; }
.search-page-wrap input[type=search]::-webkit-input-placeholder{ color: $color; }
.search-page-wrap input[type=search]:-moz-placeholder{ color: $color; }
.search-page-wrap input[type=search]::-moz-placeholder{ color: $color; }
.search-page-wrap input[type=search]:-ms-input-placeholder{ color: $color; }

// sidebar.css
.col-sidebar-cards{ border-right: 2px solid $color; }
.sidebar-card-icon{ background-color: $color; }
.feed-header .feed-star:hover{ color: $color; }
.bottom-bar .feed-feedback span{ color: $color; }
.feed-comment-wrap input.comment-input:focus{ border: 1px solid $color; }
.comment-button-wrap .border-color{ border: 2px solid $color; }
.comment-button-wrap .comment-overlay{ border: 2px solid $color; }
.comment-button-wrap .comment-overlay:before{ background: $color; }

// global.css
.btn-no-fill{ border: 2px solid $color; }
.btn-no-fill:hover{ background-color: $color; }
.btn-fill{ background-color: $color; color: $fontcolor; }
.btn-fill:hover{ background-color: $dark; color: $white !important; }

// edit.css
#addNew .fa{ color: $fontcolor;}
#newPostBtn:before,
#newPageBtn:before,
#newEventBtn:before,
#newSearchBtn:before{ border: 1px solid $color; }
.menu ul li a:hover{ text-shadow: 0 0 15px $white; }
.exit-btn{ background-color: $color; }
.exit-btn:hover{
    background-color: $dark;
    color: $white;
}
.popup-bottom{ background-color: $color; }


/* --- LEGG TIL ---
Linje i varselboks: .varsel-panel{border-bottom:2px solid #61afca}
+ se linje 31 i denne fila

saved-edited-profile-btn: background-color:

img-profile-img: border: dynamisk
*/

