.owner-col-6 {
  background-color: #ff7061;
  color: #0a0a0a; }

.owner-col-6:hover {
  background-color: #ff422e; }

.quick-edit {
  background-color: #ff7061;
  color: #0a0a0a; }

.add-page-to-card-btn .fa {
  color: #0a0a0a; }

.an-event-wrap .event-info {
  background-color: #ff7061; }

.card-wrap {
  border-bottom: 5px solid #ff7061; }

.new-post-in-card-icon {
  background-color: #ff7061; }

.edit-card-icon {
  color: #ff7061; }

.search-overlay-wrap input {
  border-bottom: 2px solid #ff7061 !important; }

#one {
  background-color: #795580; }

#two {
  background-color: #61afca; }

#two:before {
  border-right: 8px solid #61afca; }

#three {
  background-color: #ff7061; }

#three:before {
  border-right: 8px solid #ff7061; }

#four {
  background-color: #7ec59d; }

#four:before {
  border-right: 8px solid #7ec59d; }

#five {
  background-color: #ffd066; }

#five:before {
  border-right: 8px solid #ffd066; }

.menu-wrap {
  background-color: #ff7061; }

.menu {
  background-color: #ff7061; }

.menu ul li a {
  color: #0a0a0a; }

.add-new-btn {
  border: 2px solid #ff7061; }

#addNew {
  background-color: #ff7061; }

.invite-text {
  border-bottom: 1px solid #ff7061; }

.add-page-to-card-btn {
  background-color: #ff7061;
  color: #0a0a0a; }

.shout-out-box {
  border-left: 4px solid #ff7061; }

.edit-fields .edit-field1, .edit-fields .edit-field2 {
  border-bottom: 1px solid #ff7061; }

.edit-field3 {
  border: 1px solid #ff7061; }

.edit-fields label {
  color: #ff7061; }

.search-people .search-result-title {
  border-bottom: 2px solid #ff7061; }

.search-page-wrap input[type=search] {
  color: #ff7061; }

.search-page-wrap input[type=search]::-webkit-input-placeholder {
  color: #ff7061; }

.search-page-wrap input[type=search]:-moz-placeholder {
  color: #ff7061; }

.search-page-wrap input[type=search]::-moz-placeholder {
  color: #ff7061; }

.search-page-wrap input[type=search]:-ms-input-placeholder {
  color: #ff7061; }

.col-sidebar-cards {
  border-right: 2px solid #ff7061; }

.sidebar-card-icon {
  background-color: #ff7061; }

.feed-header .feed-star:hover {
  color: #ff7061; }

.bottom-bar .feed-feedback span {
  color: #ff7061; }

.feed-comment-wrap input.comment-input:focus {
  border: 1px solid #ff7061; }

.comment-button-wrap .border-color {
  border: 2px solid #ff7061; }

.comment-button-wrap .comment-overlay {
  border: 2px solid #ff7061; }

.comment-button-wrap .comment-overlay:before {
  background: #ff7061; }

.btn-no-fill {
  border: 2px solid #ff7061; }

.btn-no-fill:hover {
  background-color: #ff7061; }

.btn-fill {
  background-color: #ff7061;
  color: #0a0a0a; }

.btn-fill:hover {
  background-color: #333333;
  color: white !important; }

#addNew .fa {
  color: #0a0a0a; }

#newPostBtn:before,
#newPageBtn:before,
#newEventBtn:before,
#newSearchBtn:before {
  border: 1px solid #ff7061; }

.menu ul li a:hover {
  text-shadow: 0 0 15px white; }

.exit-btn {
  background-color: #ff7061; }

.exit-btn:hover {
  background-color: #333333;
  color: white; }

.popup-bottom {
  background-color: #ff7061; }

/* --- LEGG TIL ---
Linje i varselboks: .varsel-panel{border-bottom:2px solid #61afca}
+ se linje 31 i denne fila

saved-edited-profile-btn: background-color:

img-profile-img: border: dynamisk
*/

/*# sourceMappingURL=dynamic_colors_red.css.map */
