$color: rgb(97,175,202); // Blue
$color2: rgb(121,85,128); // Purple
$color5: rgb(126,197,157); // Green
$color3: rgb(255,208,102); // Yellow
$color4: rgb(255,112,97); // Red


// Events.css
.an-event-wrap .event-info{ background-color: $color; }

// forside.css
.card-wrap{ border-bottom: 5px solid $color; }
.new-post-in-card-icon{ background-color: $color; }
.edit-card-icon{ color: $color; }

// forside.css

// login.css

// menu.css
#one{ background-color: $color2; }
#two{ background-color: $color3; }
#two:before{ border-right: 8px solid $color3; }
#three{ background-color: $color; }
#three:before{ border-right: 8px solid $color; }
#four{ background-color: $color4; }
#four:before{ border-right: 8px solid $color4; }
#five{ background-color: $color5; }
#five:before{ border-right: 8px solid $color5; }

.menu-wrap{ background-color: $color; }
.menu{ background-color: $color; }
.add-new-btn{ border: 2px solid $color; }
#addNew{ background-color: $color; }

// movie_night_page.css

// new_event.css
.invite-text{ border-bottom: 1px solid $color; }

// other_profiles.css

// page_fubar.css
.add-page-to-card-btn{ background-color: $color; }
.shout-out-box{ border-left: 4px solid $color; }

// pages.css

// profile_edit.css
.edit-fields .edit-field1, .edit-fields .edit-field2{ border-bottom: 1px solid $color; }
.edit-field3{ border: 1px solid $color; }
.edit-fields label{ color: $color; }

// search.css
.search-people .search-result-title{ border-bottom: 2px solid $color; }
.search-page-wrap input[type=search]{ color: $color; }
.search-page-wrap input[type=search]::-webkit-input-placeholder{ color: $color; }
.search-page-wrap input[type=search]:-moz-placeholder{ color: $color; }
.search-page-wrap input[type=search]::-moz-placeholder{ color: $color; }
.search-page-wrap input[type=search]:-ms-input-placeholder{ color: $color; }

// sidebar.css
.col-sidebar-cards{ border-right: 2px solid $color; }
.sidebar-card-icon{ background-color: $color; }
.feed-header .feed-star:hover{ color: $color; }
.bottom-bar .feed-feedback span{ color: $color; }
.feed-comment-wrap input.comment-input:focus{ border: 1px solid $color; }
.comment-button-wrap .border-color{ border: 2px solid $color; }
.comment-button-wrap .comment-overlay{ border: 2px solid $color; }
.comment-button-wrap .comment-overlay:before{ background: $color; }

// statisk.css
.btn-no-fill{ border: 2px solid $color; }
.btn-no-fill:hover{ background-color: $color; }
.btn-fill{ background-color: $color; }
.btn-fill:hover{ background-color: $color; }

/* --- LEGG TIL ---
Linje i varselboks: .varsel-panel{border-bottom:2px solid #61afca}
+ se linje 31 i denne fila

saved-edited-profile-btn: background-color:

img-profile-img: border: dynamisk
*/

