
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" ng-repeat="card in cards" id="{{ card.id }}">
            <div class="card-wrap" ng-style="{'background-image': 'url(' + card.customBackgroundImageUrl + ')'}">
                <div class="card-overlay"></div>
                <div class="new-post-in-card-icon">
                    5
                </div>
                <div class="edit-card-icon">
                    <i class="fa fa-cog "></i>
                </div>
                <div class="card-wrap-inner">

                    <h3>{{ card.name | limitTo : 23 }}{{card.name.length > 20 ? '...' : ''}}</h3>
                    <p>{{ card.description | limitTo : 200 }}{{card.description.length > 200 ? '...' : ''}}</p>

                    <!-- Viser kun 3 tags, kan sepsifisere hvilke det er i edit card -->
                    <div class="card-tag-wrap">
                        <ul class="card-tag-list">
                            <li ng-repeat="page in card.pages">{{ page }}</li>
                            <a ng-repeat="tag in card.tags" ng-href="#/feed/{{ tag.id }}"><li>#{{ tag.name }}</li></a>
                        </ul>
                    </div>
                </div>
            </div><!-- END - card-wrap -->
        </div><!-- END col-sm-4 -->

        <div class="col-sm-4 col-md-3">
            <div class="card-wrap-add" ng-click="addCard(); scrollToPopup()">
                <div class="card-add-inner">
                    <i class="fa fa-plus"></i><br>
                    Add new card
                </div><!-- END - card-add-inner -->
            </div><!-- END - card-wrap -->
        </div><!-- END col-sm-4 -->

    </div><!-- END row -->

</div><!-- END - container -->

<ng-include src="'partials/edit_card.html'"></ng-include>