<div class="container edit-profile-wrap edit-fields" id="editEvent">
    <form ng-submit="createEvent()">
        <div class="center-input"><h1>{{ title }}</h1></div>

        <div class="col-sm-12">
            <div class="row">

                <center><h4>Click the image below to edit your cover photo</h4></center>
                <div class="edit-profile-profile-pic edit-cover">
                    <img class="img-responsive" ng-src="{{ event.coverImageUrl }}" ng-model="headerImageSrc" ngf-select="cropDialogState('#header-image-crop', 'show')" ngf-drop="openCropDialog()" ngf-pattern="'image/*'">
                    <div class="pic-overlay" ng-model="headerImageSrc" ngf-select="cropDialogState('#header-image-crop', 'show')" ngf-drop="openCropDialog()" ngf-pattern="'image/*'">
                        <div class="pic-overlay-text">Click to edit</div>
                    </div>
                    <div class="modal" id="header-image-crop" data-backdrop="static">
                        <img-crop area-type="rectangle" class="image-crop-display" result-image-format="'image/jpeg'" result-image-size="{w: 1920, h: 1010}" aspect-ratio="1.9" result-image="croppedHeaderImage" image="headerImageSrc | ngfDataUrl" ng-init="croppedHeaderImage = ''">
                        </img-crop>
                        <div class="upload-btn-wrap">
                            <input type="button" class="upload-btn" value="Upload" ng-click="uploadFile(croppedHeaderImage, headerImageSrc.name)">
                            <a class="upload-btn" ng-click="cropDialogState('#header-image-crop', 'hide')">Close</a>
                        </div><!-- END upload-btn-wrap -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="edit-this-title">Title*</h3>

                    <input ng-model="event.title" class="edit-field2" placeholder="Title of the event" required>
                    <textarea ng-model="event.description" rows="6" class="edit-field3" placeholder="About the event" required></textarea>
                </div>
            </div>
        </div><!-- END col 12 -->

        <div class="row">
            <div class="col-sm-6">
                <h3><i class="fa fa-clock-o edit-event-date-icon"></i>Start date*</h3>

                <div class="form-group">
                    <label for="eventStartDateField" hidden>Event start date</label>
                    <div id="eventStartDate" class='input-group date1'>
                        <input id="eventStartDateField" type='text' class="edit-field2" required>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div><!--END form-group-->
                <h3><i class="fa fa-clock-o edit-event-date-icon"></i>End date</h3>

                <div class="form-group">
                    <label for="eventEndDateField" hidden>Event start date</label>
                    <div id="eventEndDate" class='input-group date1'>
                        <input id="eventEndDateField" type='text' class="edit-field2"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div><!--END form-group-->

            </div><!--END col-sm-6-->

            <div class="col-sm-6">
                <h3><i class="fa fa-map-marker edit-event-location-icon"></i>Location</h3>
                <input name="email" ng-model="event.location" class="edit-field2" type="text" placeholder="Where will the event take place?">
            </div><!--END col-sm-4-->
        </div><!--END rows-->

        <div class="row">
            <div class="col-sm-12">
                <h3>Tags for event</h3>
                <ui-select multiple ng-model="event.tags">
                    <ui-select-match placeholder="Select tag...">
                        {{$item.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="tag in (allTags | filter: $select.search) track by tag.id">
                        <span ng-bind="tag.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div><!--END col-sm-12-->
        </div><!--END rows-->
        <button type="button" class="btn-fill" data-toggle="collapse" data-target="#demo" ng-if="isEdit()">Delete this event?</button>
          <div id="demo" class="collapse">
            <br>
            <input type="button" value="Delete" class="btn-fill btn-small" ng-click="deleteEvent()">
          </div>

        <div class="center-input"><input type="submit" class="btn-fill btn-fill-save" value="Save changes"></div>


    </form>
</div><!-- END - container -->