<div class="container">
    <!-- Kode her -->

    <!--<div class="card-shortcut-wrap">
        <div ng-repeat="card in cards" >
            <div class="card-shortcut" id="{{ card.id }}">
                <div class="cs-icon">{{ card.name | limitTo: 1 }}</div>
                <div class="card-name">{{ card.name }}</div>
            </div><br>
        </div>

    </div>--><!-- END card-shortcut-wrap -->

    <div class="header-image-wrap">
        <img ng-src="{{ event.coverImageUrl }}" class="img-responsive" alt="Cover image">
        <div class="event-background-overlay"></div>
        <!--<div class="page-profile-image" style="background-image: url('../statisk/images/');">
        </div>-->

        <div class="page-name"><h1>{{ event.title }}</h1></div>

        <div class="add-page-to-card">
            <div class="add-page-to-card-text">Add to card</div>
            <div class="add-page-to-card-btn">
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div><!-- END header-image-wrap -->

    <!-- Page content -->
    <div class="page-content">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-left-column">

                    <div class="shout-out-box box">
                        <div class="box-title">
                            <h3><i class="fa fa-bullhorn"></i>{{ event.title }} Shout Out</h3>
                        </div>
                        <div class="shout-out-text">
                            <p>
                                {{ event.shoutOut }}
                            </p>
                        </div>
                    </div><!-- END shout out box -->

                    <div class="about-n-gallery box">
                        <div class="box-title">
                            <h3><a href="">About</a></h3>
                        </div>
                        <span></span>
                        <!--<div class="box-title">
                            <h3><a href="">Gallery</a></h3>
                        </div>-->
                    </div><!-- END about-n-gallery -->

                    <div class="about-box box">
                        <div class="box-title">
                            <h3>About</h3>
                        </div>
                        <div class="event-date-area">
                            <h4>Start date</h4>
                            <div class="single-event-info event-date">
                                <i class="fa fa-calendar event-date-icon"></i>{{ event.startDate | date: 'EEEE dd. MMMM yyyy' }}
                            </div>
                            <div class="single-event-info event-date">
                                <i class="fa fa-clock-o event-time-icon"></i>{{ event.startDate | date: 'HH:mm' }}
                            </div>
                        </div>
                        <div class="event-date-area" ng-if="event.endDate">
                            <h4>End date</h4>
                            <div class="single-event-info event-date">
                                <i class="fa fa-calendar event-date-icon"></i>{{ event.endDate | date: 'EEEE dd. MMMM yyyy' }}
                            </div>
                            <div class="single-event-info event-date">
                                <i class="fa fa-clock-o event-time-icon"></i>{{ event.endDate | date: 'HH:mm' }}
                            </div>
                        </div>
                        <div class="event-place-area">
                           <h4>Location</h4>
                            <p class="event-place">
                                <i class="fa fa-map-marker event-place event-place-icon"></i>{{ event.location }}
                            </p>
                        </div>
                        <p class="text-shown event-text">
                            {{ event.description }}
                        </p>

                    </div><!-- END about tekst -->
                    <div class="about-read-more">
                        <span class="read-more">Read more</span>
                    </div>

                </div><!-- END about-box -->

                <div class="attending-box box">
                    <div class="box-title">
                        <h3 class="attending-box-title"><a href="">People attending ({{ event.attending ? event.attending.length : 0 }})</a></h3>
                    </div>

                    <div class="attending-thumbs-wrap">
                        <div class="person-image" style="border: 2px solid #FED575;">
                            <img class="img-responsive" src="img/profilbilde_2.jpg" alt="Profile picture">
                        </div>
                    </div><!-- END attending-thumbs-wrap-->

                    <div class="view-all-attending">
                        <span>See all</span>
                    </div>

                </div>
            </div>
            <!-- END attending-box -->

            <!-- <div class="gallery-box box">
                 <div class="box-title">
                     <h3>Gallery</h3>
                 </div>

                 <div class="gallery-thumbs-wrap">
                     <div galery-image class="gallery-thumb">
                         <img class="thumb" src="../statisk/images/ola_nordmann.jpeg" alt="">
                     </div>
                     <div galery-image class="gallery-thumb">
                         <img class="thumb" src="../statisk/images/ola_nordmann_sidebilde.jpg" alt="">
                     </div>
                     <div galery-image class="gallery-thumb">
                         <img class="thumb" src="../statisk/images/event_pic.jpg" alt="">
                     </div>
                     <div galery-image class="gallery-thumb">
                         <img class="thumb" src="../statisk/images/ola_nordmann_sidebilde.jpg" alt="">
                     </div>
                     <div galery-image class="gallery-thumb">
                         <img class="thumb" src="../statisk/images/profilbilde_jap.jpg" alt="">
                     </div>
                     <div galery-image class="gallery-thumb">
                         <img class="thumb" src="../statisk/images/ola_nordmann_sidebilde.jpg" alt="">
                     </div>
                 </div>

                 <div class="view-gallery">
                     <span>View gallery</span>
                 </div>

             </div>--><!-- END about-box -->


            <div class="col-sm-6">
                <div class="page-right-column">
                    <div ng-if="event.canWrite" class="owner-menu"><!-- Synes kun for eier av side/profil/event -->
                        <a class="owner-col-6">Add new post</a>
                        <a ng-href="#/events/{{ event.id }}/edit" class="owner-col-6">Edit event</a>
                    </div>
                    <!-- TODO
                    <?php include 'person_feed.php' ?>
                </div><!-- END page-right-column -->
                </div><!-- END col-sm-6 -->
            </div>
        </div><!-- END row -->
    </div><!-- END page-content -->

</div><!--end container-->