<div class="container" >
    <div class="row">

        <div class="col-sm-5 col-md-4">
            <div class="sidebar-mobile" ng-click="sidebarFeed()">
                Show your cards
            </div>
            <div class="sidebar-all-card">

                <div class="owner-menu">
                    <div class="owner-col-6">Add new card</div>
                    <div class="owner-col-6">Add new post</div>
                </div>

                <div class="sidebar-card" ng-repeat="card in cards" id="{{ card.id }}" ng-click="selectCard(card)">
                    <div class="card-sidebar-wrap" ng-class="card.selected">
                        <div class="new-post-in-card-icon">
                            5
                        </div>
                        <div class="card-sidebar-inner">
                            <div class="card-sidebar-image" ng-style="{'background-image': 'url(' + card.backgroundImageUrl + ')'}"></div>
                            <div class="sidebar-card-info">
                                <h3>{{ card.name | limitTo : 23 }}{{card.name.length > 23 ? '...' : ''}}</h3>

                                <!-- Viser kun 3 tags, kan sepsifisere hvilke det er i edit card -->
                                <div class="card-tag-wrap">
                                    <ul class="card-tag-list">
                                        <li ng-repeat="filter in card.displayFilters | limitTo:2">{{ filter }}</li>
                                    </ul>
                                </div>
                            </div><!-- END sidebar-card-info -->
                        </div>
                    </div><!-- END - card-wrap -->
                </div>

            </div><!-- END sidebar all cards -->
        </div><!-- END col-sm-4 -->

        <div class="col-sm-7 col-md-8">
            <div class="feed-tags">
                <div class="card-tag-wrap">
                        <ul class="card-tag-list">
                            <strong>Tags in this card:</strong>
                            <li ng-repeat="page in filteredPages">{{ page }}</li>
                            <a ng-repeat="tag in displayTags" ng-href="#/feed/{{ tag.id }}"><li>#{{ tag.name }}</li></a>
                        </ul>
                    </div>
            </div>
            <ng-include src="'partials/person_feed.html'"></ng-include>
        </div>

    </div><!-- END row -->
</div><!-- END container -->
