<div class="container">

    <div class="box">
        <h1>Good to know about Tag Along</h1>

        <h3>Is my card private og public?</h3>
        <p>Your card is always private.</p>

        <h3>Is my post private or public?</h3>
        <p>Your post is always public at your profile or in a certain tag.</p>

        <h3>Why does someone have other colors?</h3>
        <p>You have the color representing you study direction.</p>

        <h3>Can I view Tag Along on my mobile phone?</h3>
        <p>Yes. You can open Tag Along in any browser on any device.</p>

        <h3>Can I restore a delted card?</h3>
        <p>No. A deleted card is gone forever.</p>
    </div>

</div><!--end container-->