<div class="container">
    <!-- Kode her -->
    <div a href="#" class="logo"></div>
    <div class="header-image-wrap">
        <img ng-src="{{ user.profileHeaderPictureUrl }}" class="img-responsive" alt="">
        <div class="event-background-overlay"></div>

        <div class="page-name"><h1>{{ user.firstname }} {{ user.surname }}</h1></div>

        <div class="add-page-to-card">
            <div class="add-page-to-card-text">Add to card</div>
            <div class="add-page-to-card-btn">
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div><!-- END header-image-wrap -->

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="tabs">
                <ul class="tab-links">
                    <li class="tabs-item" ng-class="{active: !showContactInfo}"><a ng-click="setShowContactInfo(false)">Info</a></li>
                    <li class="tabs-item" ng-class="{active: showContactInfo}"><a ng-click="setShowContactInfo(true)">Contact</a></li>
                </ul>

                <div class="tabs-content">

                       <div class="tab-content-section">

                        <div ng-if="!showContactInfo" id="about-tab" class="tab"><!-- Tab 1 -->

                           <div class="col-sm-6 col-xs-4">
                                <img class="img-profile-img" ng-src="{{ user.profilePictureUrl }}">
                           </div><!--END col-sm-6-->

                            <div class="col-sm-6 col-xs-8">

                                <div ng-if="user.age" class="holder">
                                    <p class="info-format age" ><b>Age: </b></p>
                                    <p class="age-c">{{ user.age }}</p>
                                </div>
                                <div ng-if="user.gender" class="holder">
                                    <p class="info-format gender" ><b>Gender:</b></p>
                                    <p class="gender-c">{{ user.gender | capitalize }}</p>
                                </div>
                                <div ng-if="user.city" class="holder">
                                    <p class="info-format city"><b>City of residence: </b></p>
                                    <p class="city-c">{{ user.city }}</p>
                                </div>
                                <div ng-if="user.studyFieldDisplayName" class="holder">
                                    <p class="info-format field-of-study"><b>Field of study: </b></p>
                                    <p class="field-of-study-c">{{ user.studyFieldDisplayName }}</p>
                                </div>
                                <div ng-if="user.interests" class="holder">
                                    <p class="info-format interests"><b>Interests: </b></p>
                                    <p class="interests-c">{{ user.interests }}</p>
                                </div>
                            </div><!-- END col 6 -->

                        </div><!--about-tab END-->

                        <div ng-if="showContactInfo" id="contact-tab" class="tab"><!-- Tab 2 -->
                            <div ng-repeat="contactInfo in user.contactInfo" class="holder">
                                <p class="info-format email"><b>{{ contactInfo.description }}:</b></p>
                                <p class="">{{ contactInfo.value }}</p>
                            </div><!--END holder-->
                        </div><!--END contact-tab-->

                    </div><!--END tabs-content-->

                    <a href="#/profile/edit" ng-if="user.id == me.id" class="edit-profile-page-link">Edit</a> <!--edit button-->
                </div><!--END tabs-content-->
            </div><!-- END  tabs-->

                <div class="skill-section box">
                    <div class="box-title">
                        <h3>Skills</h3>
                    </div>
                    <ul>
                        <li ng-repeat="skill in user.skills">{{ skill }}</li>
                    </ul>
                </div><!--skills END-->

            <div class="myProjects box">
                <div class="box-title">
                    <h3>My Projects</h3>
                </div>
                <ul>
                    <li ng-repeat="project in user.projects">{{ project.description }}</li>
                </ul>
            </div><!--myProjects END-->




        </div><!--END col-sm-6-->
        <div class="col-sm-6 col-md-8">
            <div class="owner-menu"><!-- Synes kun for eier av side/profil/event -->
                <a class="owner-col-6">Add new post</a>
                <a class="owner-col-6" href="#/profile/edit" ng-if="user.id == me.id">Edit profile</a>
            </div>
            <ng-include ng-controller="UserPostFeed" src="'partials/person_feed.html'"></ng-include>
        </div><!--person_feed.php END-->


    </div><!--END row-->

</div>