<?php include 'header.php'; ?>

<div class="container">

    <!--<h2 class="pages-header-text">Pages</h2>-->

    <div class="pages-main-content">
        <div class="row">
            <div class="col-sm-5 col-md-4">
                <div class="filter-pages box">

                    <div class="order-by-box">
                        <div class="box-title">
                            <h3>Order by</h3>
                        </div>

                        <div class="input-group checkbox-style order-pages-by">
                            <input type="radio" ng-change="filterUpdated()" ng-model="filter.order" value="recent" name="mostRecentCheck" id="mostRecentCheck"><label for="mostRecentCheck">Most recent</label><br>
                            <input type="radio" ng-change="filterUpdated()" ng-model="filter.order" value="tags" name="mostTaggedAlongCheck" id="mostTaggedAlongCheck"><label for="mostTaggedAlongCheck">Most people tagged along</label><br>
                            <input type="radio" ng-model="filter.order" ><label>Your pages</label><br>
                        </div><!--checkbox-style boxD-->
                    </div><!--END order-by-box-->

                    <!--<div class="filter-by-box">
                        <div class="box-title">
                            <h3>Filter by</h3>
                        </div>

                        <form class="filter-pages-by">
                            <input type="checkbox" name="communicationCheck" id="communicationCheck" value="kommunikasjon"><label for="communicationCheck">Communication</label><br>
                            <input type="checkbox" name="artsCheck" id="artsCheck" value="kunstfag"><label for="artsCheck">Arts </label><br>
                            <input type="checkbox" name="technologyCheck" id="technologyCheck" value="teknologi"><label for="technologyCheck">Technology</label><br>
                            <input type="checkbox" name="filmTVGameDesignCheck" id="filmTVGameDesignCheck" value="film, TV og spill"><label for="filmTVGameDesignCheck">Film, TV og Game Design</label><br>
                            <input type="checkbox" name="managementCheck" id="managementCheck" value="management"><label for="managementCheck">Management </label><br>
                        </form>
                    </div><!--END filter-by-box-->
                </div><!--END filter-pages box-->
                <div class="owner-menu">
                    <a href="#/pages/new" class="owner-col-6 owner-col-12">+ Create page</a>
                </div>
            </div><!-- col-sm-5 END-->

            <div class="col-sm-7 col-md-8">

                <div class="preview" ng-repeat="page in pages">
                    <div class="preview-image" ng-style="{'background-image': 'url(' + page.coverPictureUrl + ')'}">

                        <div class="add-page-to-card-pages" ng-click="addToCard()">
                            <div class="add-page-to-card-text">Add to card</div>
                            <div class="add-page-to-card-btn">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div><!-- END add page to card -->

                        <div class="preview-info">
                            <ul class="card-tag-list">
                                <li>#TODO: Resolve this from backend</li>
                                <li>#Kvinner&IT</li>
                                <li>#Datafordamer</li>
                                <li>#BedreEnnGutta</li>
                            </ul><!--card-tag-list END-->
                        </div><!--page-preview-info END-->

                    </div><!--page-preview-image END-->

                    <a ng-href="#/pages/{{ page.customUrl ? page.customUrl : page.id }}">
                        <div class="preview-header">
                            <h3 class="preview-title">{{ page.name | limitTo : 100 }}{{page.name.length > 100 ? '...' : ''}}</h3>
                        </div>
                    </a>
                </div><!--page-preview END-->
            </div><!-- col-sm-8 END-->
        </div><!--row END-->
    </div><!--end pages-main-content-->

</div><!--end container-->