<div class="container">

    <div class="header-image-wrap">
        <!--TODO: Get the header from the database-->
        <img src="{{ page.coverImageUrl }}" class="img-responsive" alt="">
            <div class="event-background-overlay"></div>


        <div class="page-name"><h1>@{{ page.name }}</h1></div>

        <div class="add-page-to-card" ng-click="addToCard()">
            <div class="add-page-to-card-text">Add to card</div>
            <div class="add-page-to-card-btn">
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div><!-- END header-image-wrap -->


    <!-- Page content -->
    <div class="page-content">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-left-column">

                    <div class="shout-out-box box">

                        <div class="box-title shout-out-title">
                            <h3><i class="fa fa-bullhorn"></i> {{ page.name }} Shout out</h3>
                            <div class="quick-edit"><i class="fa fa-pencil"></i> Quick edit</div>
                        </div>
                        <div class="shout-out-text">
                            <p>
                                <strong>Festen begynner kl. 20.00</strong>
                            </p>
                            <p>
                                Inngang: 100kr.
                            </p>
                        </div>
                    </div><!-- END shout out box -->

                    <div class="about-n-gallery box">
                        <div class="box-title">
                            <h3><a href="">About</a></h3>
                        </div>
                        <span></span>
                        <div class="box-title">
                            <h3><a href="">Gallery</a></h3>
                        </div>
                    </div>

                    <div class="about-box box">
                        <div class="box-title">
                            <h3>About</h3>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <img class="img-profile-img" ng-src="{{ page.logoPictureUrl }}">
                           </div><!--END col-sm-6-->

                            <div class="col-xs-8">
                                <div class="about-box-text">
                                    {{ description }}
                                </div><!-- END about tekst -->
                                <div class="about-read-more" ng-click="readMore()">
                                    <span class="read-more">{{ showMoreText ? 'Show less' : 'Read more' }}</span>
                                </div>
                            </div><!-- END col 6 -->
                        </div><!-- END row -->

                    </div><!-- END about-box -->

                    <div class="gallery-box box">
                        <div class="box-title">
                            <h3>Gallery</h3>
                        </div>

                        <div class="gallery-thumbs-wrap">
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="img/ola_nordmann.jpeg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="img/ola_nordmann_sidebilde.jpg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="img/event_pic.jpg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="img/ola_nordmann_sidebilde.jpg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="img/profilbilde_jap.jpg" alt="">
                            </div>
                            <div galery-image class="gallery-thumb">
                                <img class="thumb" src="img/ola_nordmann_sidebilde.jpg" alt="">
                            </div>
                        </div>

                        <div class="view-gallery">
                            <span>View gallery</span>
                        </div>

                    </div><!-- END about-box -->


                </div><!-- END page-left-column -->
            </div>
            <div class="col-sm-6">
                <div class="page-right-column">
                    <div class="owner-menu"><!-- Synes kun for eier av side/profil/event -->
                        <a class="owner-col-6">Add new post</a>
                        <a href="edit" class="owner-col-6">Edit page</a>
                    </div>
                    <ng-include src="'partials/person_feed.html'">
                    <!-- TODO
                    <?php include 'person_feed.html' ?> -->
                </div>
            </div>
        </div>
    </div><!-- END page-content -->

</div><!--end container-->


