<div class="person-feed-boks box" ng-repeat="post in posts">

    <div class="feed-header">
        <div class="person-image" style="border: 2px solid #fd7265;">
            <img ng-src="{{ post.user.profilePictureUrl }}" alt="">
        </div>
        <h3 class="person-name">{{ post.user.firstname }} {{ post.user.surname }}</h3><br>
        <h4 class="person-studie">{{ post.user.studyFieldId.name }}</h4>

        <div class="feed-date"> {{ post.time | date: 'hh:mm - dd.MM.yyyy' }}</div>
        <div class="feed-star"><i class="fa fa-star"></i></div>
    </div><!-- END feed-header -->

    <div class="feed-content">
        <div markdown-to-html="post.content"></div>
    </div><!-- END feed-content -->

    <div class="card-tag-wrap">
        <ul class="card-tag-list">
            <li ng-repeat="tag in post.tags">#{{ tag.name }}</li>
        </ul>
    </div><!-- END - card-wrap -->

    <div class="bottom-bar">
        <div class="tagalong-like-btn" ng-class="post.upvoted" ng-if="post.upvote" ng-click="post.upvote()"><!-- Fjern klassen tagged-along når et innlegg ikke er likt -->
            <img src="img/tagalongBtn.png" alt="">Tag Along
        </div><!-- END tagalong-like-button -->
        <input class="delete-btn btn-fill" type="button" ng-if="post.delete" ng-click="post.delete()" value="Delete">
        <div class="feed-feedback"><span>{{ post.upvotes == null ? 0 : post.upvotes.length }}</span> people tagged along</div>
    </div>

    <div class="feed-comment-wrap">
        <input type="text" class="comment-input" placeholder="Add a comment...">
        <div class="comment-button-wrap">
            <input type="submit" class="add-comment-btn" value="Add comment" disabled>
            <div class="comment-overlay"></div>
        </div>
    </div>

</div><!-- END person-feed-boks -->
